<div class="body">
    <div class="row">
        <input type="text" class="one-digit" placeholder="0" id="children" value="<%= guests.children > 0 ? guests.children : '' %>" />
        <label for="children" class="label">Children</label>
    </div>
    <div class="clearfix" />
    <div class="row">
        <input type="text" class="one-digit" placeholder="0" id="infants" value="<%= guests.infants > 0 ? guests.infants : '' %>" />
        <label for="infants" class="label">Infants</label>
    </div>
    <div class="clearfix" />
    <div class="row">
        <input type="text" class="one-digit" placeholder="0" id="seniors" value="<%= guests.seniors > 0 ? guests.seniors : '' %>" />
        <label for="seniors" class="label">Seniors</label>
    </div>
</div>