<% function attractionHtml(attraction, index, baseUrl) { %>
    <a href="<%= baseUrl  + '/' + attraction.id %>" class="element" data-id="<%= attraction.id %>">
         <div class="img" style="background-image: url('<%= attraction.images[0] %>?w=300')" />
         <div class="cover"></div>
         <div class="details">
           <h4><%= attraction.title %></h4>
           <p style="word-wrap: break-word;"><%= attraction.summary.summary %> <span>[...]</span></p>
         </div>
    </a>
<% } %>


<div class="attractions-list clearfix">
   <% if (attractions.length > 0) { %>
   <table cellspacing="0" cellpadding="0" class="attractions-list-table">
      <% _.each(attractions, function(attraction, index) { %>
        <% if (index % 4 == 0) { %>
          <tr>
        <% } %>
          
          <% if (attraction.images) { %>
            <td>
              <% attractionHtml(attraction, index, baseUrl) %>
              
            </td>  
          <% } %>
          

          <% if (attractions.length == (index + 1)) { %>
            <% if (index % 4 == 2) { %>
               <td>&nbsp;</td>
            <% } %>
            <% if (index % 4 == 1) { %>
               <td>&nbsp;</td><td>&nbsp;</td>
            <% } %>
            <% if (index % 4 == 0) { %>
               <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
            <% } %>
          <% } %>


        <% if ((index % 4 == 3) && (index > 1)) { %>
          </tr>
        <% } %>

      <% }) %>
   </table>

   <% } else { %>
         <div class="loading"><img src="<%= loader %>" /></div>
   <% } %>
</div>