<div class="site-header__bottom stuck">
    <div class="clearfix site-block-in">
      <div class="small-main-logo fl">
        <a href="<%= root %>">
          <img src="images/small-main-logo.png" alt=""/>
        </a>
      </div>
      
      <div class="site-topMenu-view" />

      <div class="user-menu clearfix">
      	<div class="menu-item has-submenu">
			Help
			<div class="user-submenu">
				<span class="nip"></span>
				<ul class="no-style">
					<li class="menu-item-important"><a href="#">VISIT THE HELP CENTER!</a></li>
					<li><a href="#">How do I upload my maps to Garmin?</a></li>
					<li><a href="#">How can I cancel a booking?</a></li>
					<li><a href="#">See all FAQs</a></li>
				</ul>
			</div>
		</div>
		<a href="#" class="user-messages"><br/></a>
		<div class="user-name has-submenu">
			Saulius
			<div class="user-submenu">
				<span class="nip"></span>
				<ul class="no-style">
					<li><a href="#">Dashboard</a></li>
					<li><a href="#">Inbox</a></li>
					<li><a href="#">My Trips</a></li>
					<li><a href="#">Edit Profile</a></li>
					<li><a href="#">Log Out</a></li>
				</ul>
			</div>
		</div>
      	<span class="user-avatar"><img src="images/user-avatar.png" alt=""></span>
      </div>

    </div>
</div>