<ul class="menu top-menu clearfix">
	<li class="has-submenu">
 	  <a href="#">Discover Iceland</a>
 	  <div class="top-menu__submenu">
 	  	<div class="top-menu__submenu-in">
	 	  	<div class="site-block-in">
  	 	  	<ul class="menu clearfix">
  	 	  		<li>
  	 	  			<a href="#">Facts about Iceland</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Regions</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">A Country for All</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Seasons</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Nature's variety show</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Photos</a>
  	 	  		</li>
  	 	  	</ul>
  	 	</div>
  	</div>
 	  </div>
	</li>
	<li class="has-submenu">
 	  <a href="#">Attraction</a>
 	  <div class="top-menu__submenu">
 	  	<div class="top-menu__submenu-in">
	 	  	<div class="site-block-in">
  	 	  	<ul class="menu clearfix">
  	 	  		<li>
  	 	  			<a href="#">For the Children</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Highlights</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">History and Culture</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">National Parks</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Nature</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">The Highlights</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Wild Life</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Other Attractions</a>
  	 	  		</li>
  	 	  	</ul>
  	 	</div>
  	 </div>
 	  </div>
	</li>
	<li class="has-submenu">
 	  <a href="#">To do</a>
 	   <div class="top-menu__submenu submenu-cols-5">
 	   		<div class="top-menu__submenu-in">
	 	   	  <div class="site-block-in clearfix">
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">Bicycle Rentals</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Bicycle Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Bird Watching</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Boat Rentals</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Boat Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Cave Exploring</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Day Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Diving</a>
  	 	  		</li>
  	 	  	</ul>
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">Dogsledge Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Family &amp; Fund Parks</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Fishing in Rivers &amp; Lakes</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Geothermal Baths</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Golf Courses</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Hiking Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Horse Riding Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Hunting</a>
  	 	  		</li>
  	 	  	</ul>
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">Ice Climbing</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Ice Fishing</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Jeep- &amp; Glacier Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Kayak Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Luxury Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Mini-Zoo &amp; Open farm</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Motorcycle Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Museums</a>
  	 	  		</li>
  	 	  	</ul>
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">Paintball &amp; Lasertag</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">River Rafting</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Running</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Sea Angling</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Seal Watching</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Sightseeing Flights</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Ski resorts</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Snowmobile and ATV Tours</a>
  	 	  		</li>
  	 	  	</ul>
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">Swimming Pools</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Team Building</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Valcano Tours</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Whale Watching</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Winter adventure</a>
  	 	  		</li>
  	 	  	</ul>
  	 	</div>
  	 </div>
 	  </div>
	</li>
	<li class="has-submenu">
 	  <a href="#">Food &amp; drink</a>
 	  <div class="top-menu__submenu submenu-cols-6">
 	  		<div class="top-menu__submenu-in">
	 	   	  <div class="site-block-in clearfix">
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">American</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Asian</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Bistros</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Casual dining</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Coffee shop</a>
  	 	  		</li>
  	 	  	</ul>
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">Fast food</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Fine Dining</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">French</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">French Bistro</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Fusion</a>
  	 	  		</li>
  	 	  	</ul>
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">Grill</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Health Food</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Icelandic</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Indian</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">International</a>
  	 	  		</li>
  	 	  	</ul>
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">International</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Italian</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Lobster</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Mexican</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Oriental</a>
  	 	  		</li>
  	 	  	</ul>
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">Pizza</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Scandinavian</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Seafood</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Spanish</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Steak houses</a>
  	 	  		</li>
  	 	  	</ul>
  	 	  	<ul class="menu">
  	 	  		<li>
  	 	  			<a href="#">Sushi</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Take Away</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Tapas</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Thai</a>
  	 	  		</li>
  	 	  		<li>
  	 	  			<a href="#">Vegetarian</a>
  	 	  		</li>
  	 	  	</ul>
  	 	</div>
  	 </div>
 	  </div>
	</li>
	<li>
 	  <a href="#">Event calendar</a>
	</li>
</ul>