<div class="site">

    <div id="home" class="section inner-home-section">
      <div class="header-view"></div>
    </div>
  
  	<div class="sight-correction-section section">
		<div class="site-block clearfix">
			<form action="#" class="site-correction-form">
				<div class="section-title">
					Correct details for Arnarstapi
				</div>
				<p class="section-subtitle">
					We really appreciate your help in keeping our information up-to-date and accurate. Your corrections will be passed on to our team for verification and the updates will be published as soon as possible.
				</p>
				<div class="form-row">
					<label>Sight name</label>
					<input type="text" />
				</div>
				<div class="form-row">
					<label>Address</label>
					<input type="text" />
				</div>
				<div class="form-row">
					<label>City</label>
					<select class="custom-select">
						<option></option>
						<option>City one</option>
					</select>
				</div>
				<div class="form-row">
					<label>Zip/Postcode</label>
					<input type="text" />
				</div>
				<div class="form-row">
					<div class="map-wrap">
						<img src="images/sight-map.jpg" alt="" />
						<p>
							<em>Choose the place on the map to set the exact location.</em>
						</p>
					</div>
				</div>
 
				<div class="form-row clearfix">
					<div class="form-item">
						<label>Telephone</label>
						<input type="text" />
					</div>
					<div class="form-item">
						<label>Fax number</label>
						<input type="text" />
					</div>
				</div>
				<div class="form-row">
					<label>Website</label>
					<input type="text" />
				</div>
				<div class="form-row">
					<label>Description</label>
					<textarea cols="30" rows="10"></textarea>
				</div>
				<div class="form-row">
					<label>Your name</label>
					<input type="text" />
				</div>
				<div class="form-row">
					<label>Your email</label>
					<input type="text" />
				</div>
				<div class="form-row">
					<label>Country</label>
					<select class="custom-select">
						<option></option>
						<option>Some country</option>
					</select>
				</div>
				<div class="form-row">
					<label class="custom-checkbox">
						<strong>Allow Xperious to publish my name in acknowledgment of my feedback</strong><br/>
						We like to thank our contributors in on the website.
						<input type="checkbox" />
					</label>
				</div>
				<div class="form-row">
					<label class="custom-checkbox">
						<strong>Sign up here to receive emails from Lonely Planet for all your travel inspiration, tips and exclusive offers.</strong>
						<input type="checkbox" />
					</label>
				</div>
				<div class="upload-ilustartion-block clearfix">
					<a href="#" class="button button-grey">UPLOAD IMAGE</a>
					<p>
						<strong>Upload images…</strong>
					</p>
					<p>
						Image should be at leasty 600px x 390px
					</p>
				</div>
				<div class="form-controls">
					<input type="submit" class="button" value="SEND YOUR  UPDATE" />
				</div>
			</form>
			<div class="faq-list-block">
				<h4>Business listing FAQs</h4>
				<ul class="no-style">
					<li>
						<a href="#">How do I get listed on your website?</a>
					</li>
					<li>
						<a href="#">Will I be listed in the next edition?</a>
					</li>
					<li>
						<a href="#">I’ve been listed in a previous edition, why aren’t I listed in the current edition?</a>
					</li>
					<li>
						<a href="#">Do I need to pay to be listed?</a>
					</li>
					<li>
						<a href="#">Can I contact an author directly?</a>
					</li>
					<li>
						<a href="#">I don't like the review you've given my business – what can I do?</a>
					</li>
					<li>
						<a href="#">When will an author visit my business?</a>
					</li>
					<li>
						<a href="#">How do I update or correct my business details that are listed in a guidebook?</a>
					</li>
					<li>
						<a href="#">How do I update my business details?</a>
					</li>
					<li>
						<a href="#">What is the criteria to be recommended in a Lonely Planet guidebook?</a>
					</li>
					<li>
						<a href="#">What if the form doesn't recognise my town/suburb?</a>
					</li>
					<li>
						<a href="#">Will you inform me if my business is listed in your guidebook?</a>
					</li>
					<li>
						<a href="#">Will I be notified if my business is listed in your guidebook?</a>
					</li>
				</ul>
				<a href="#" class="button">SEE ALL HELP TOPICS</a>
			</div>
		</div>
  	</div>

  	<div class="section account-invite-friends-2-section">
		<div class="site-block tac">
			<div class="section-title">INVITE YOUR FRIENDS</div>
			<p class="section-subtitle">You can earn $25 in travel credit.</p>
			<div>
				<a href="#" class="button">INVITE NOW</a>
				<a href="#" class="button button-fb">SHARE</a>
				<a href="#" class="button button-tw">SHARE</a>
			</div>
		</div>
  	</div>

    <div class="footer-view" />
    <div class="bottom-shadow">
       <br/>
    </div>

</div>
<div class="bottom-view" />