<div class="site">

    <div id="home" class="section inner-home-section signup-header">
      <div class="header-view"></div>
    </div>
  
  	<div class="section account-details-section">
		<div class="site-block">
			<div class="section-title">Account-details</div>
			<ul class="menu account-menu">
				<li>
					<a href="#">My profile</a>
				</li>
				<li>
					<a href="#">My travel credits</a>
				</li>
				<li>
					<a href="#">Bookmarks</a>
				</li>
				<li>
					<a href="#">Invoices</a>
				</li>
			</ul>
			<div class="clearfix">
				<div class="col-1">
					<img src="images/saulius-avatar.png" alt="" />
					<div>Saulius Mačiulis</div>
					<a href="#">Edit Profile</a>
					<hr/>
					<a href="#" class="verification-ico">VERIFACATIONS</a>
					<ul class="menu verifications-menu">
						<li>
							<a href="#" class="verification-fb">
								<strong>Facebook</strong><br/>
								485 Friends
							</a>
						</li>
						<li>
							<a href="#" class="verification-gp">
								<strong>Google +</strong><br/>
								230 Friends
							</a>
						</li>
						<li>
							<a href="#" class="verification-in">
								<strong>Linkedin</strong><br/>
								130 Friends
							</a>
						</li>
						<li>
							<a href="#" class="verification-mail">
								<strong>Email</strong><br/>
								130 Friends
							</a>
						</li>
					</ul>
				</div>
				<div class="col-2">
					<h4>My Trips</h4>
					<ul class="menu account-trips-menu">
						<li>
							<a href="#">All</a>
						</li>
						<li>
							<a href="#">Dream trips</a>
						</li>
						<li>
							<a href="#">Past trips</a>
						</li>
					</ul>
				</div>
			</div>
		</div>	
  	</div>

  	<div class="section account-invite-friends-section">
		<div class="site-block tac">
			<div class="section-title">INVITE YOUR FRIENDS</div>
			<p class="section-subtitle">You can earn $25 in travel credit.</p>
			<div>
				<a href="#" class="button">INVITE NOW</a>
			</div>
		</div>
  	</div>

  	<div class="section account-profile-section">
		<div class="site-block">
			<div class="section-title">MY PROFILE</div>
			<p class="section-subtitle">This is how people can see about me.</p>
			<form action="#" class="">
				<div class="clearfix">
					<div class="col-1">
						<h3>PROFILE PHOTO</h3>
						[foto upload]
					</div>
					<div class="col-2">
						
					</div>
				</div>
				<div class="clearfix">
					<div class="col-1">
						<h3>BASIC INFORMATION</h3>

					</div>
					<div class="col-2">
						<h3>USERNAME AND PASSWORD</h3>
						
					</div>
				</div>
				<div class="clearfix">
					<div class="col-1">
						<h3>ADDRESS</h3>
					</div>
					<div class="col-2">
						
					</div>
				</div>
					
			</form>
		</div>
  	</div>

	<div class="section account-travel-credits-section">
		<div class="site-block tac">
			<div class="section-title">MY TRAVEL CREDITS</div>
			<div class="clearfix">
				<div class="col-1">
					
				</div>
				<div class="col-2">
					
				</div>
			</div>
			<div class="tac">
				<a href="#" class="button">INVITE MORE</a>
			</div>
			<hr/>
			<h2>How do referrals and travel credits work?</h2>
			<div class="clearfix">
				<div class="col-1">
					
				</div>
				<div class="col-2">
					
				</div>
			</div>
			<div class="white-info-block tac">
				<h5>But wait, there’s more!</h5>
				<p>The friends you refer also get a $25 travel credit automatically applied to their first reservation of $75 
or more as a guest booked on Xperious. Get ready for the thank yous!</p>
			</div>

		</div>
	</div>

	<div class="section account-bookmarks-section">
		<div class="site-block tac">
			<div class="sction-title">MY BOOKMARKS</div>
			<ul class="menu bookmarks-menu">
				<li>
					<a href="#">All</a>
				</li>
				<li>
					<a href="#">Sights</a>
				</li>
				<li>
					<a href="#">To do</a>
				</li>
				<li>
					<a href="#">Food &amp; drink</a>
				</li>
				<li>
					<a href="#">Events</a>
				</li>
			</ul>
			<div class="bookmarks-list clearfix">
				<div class="bookmark-item">
					[Bookmarkas]
				</div>
			</div>
		</div>
	</div>	

	<div class="section account-invoices-section">
		<div class="site-block tac">
			<div class="sction-title">MY INVOICES</div>
			<table cellspacing="0" cellpadding="0">
				<tr>
					<th>Date</th>
					<th>Reference ID</th>
					<th>Card</th>
					<th>Payment</th>
					<th>Amount</th>
					<th>Paid</th>
				</tr>
				<tr>
					<td>21. August 2013</td>
					<td>INVPX1002356</td>
					<td>xxxxxxxxxxxx9631</td>
					<td><a href="#" class="download-ico">Download Invoice</a></td>
					<td>387.980 ISK</td>
					<td><img src="images/small-check.png" alt="" /></td>
				</tr>
				<tr>
					<td>21. August 2013</td>
					<td>INVPX1002356</td>
					<td>xxxxxxxxxxxx9631</td>
					<td><a href="#" class="download-ico">Download Invoice</a></td>
					<td>387.980 ISK</td>
					<td><img src="images/small-check.png" alt="" /></td>
				</tr>
			</table>
		</div>
	</div>	

	<div class="section account-invite-friends-2-section">
		<div class="site-block tac">
			<div class="section-title">INVITE YOUR FRIENDS</div>
			<p class="section-subtitle">You can earn $25 in travel credit.</p>
			<div>
				<a href="#" class="button">INVITE NOW</a>
				<a href="#" class="button button-fb">SHARE</a>
				<a href="#" class="button button-tw">SHARE</a>
			</div>
		</div>
  	</div>


    <div class="footer-view" />
    <div class="bottom-shadow">
       <br/>
    </div>

</div>
<div class="bottom-view" />