<div class="site">

    <div id="home" class="section inner-home-section signup-header">
      <div class="header-view"></div>
    </div>
    <div class="section welcome-section">
		<div class="site-block clearfix">
			<img src="images/welcome-person.png" class="fl" alt=""/>
			<div class="welcome-text">
				<p><strong>Welcome to Xperious</strong></p>
				<p>
					We’re determined to build the best travel planner in the world, making it simple for you to plan your vacations, and empowering you to make great travel decisions.
				</p>
				<p>
					We’d loved to hear from you with any questions or suggestions. If you need any help at all using Xperious, please do not hesitate to reach out.
				</p>
				<p>
					Happy travels!
				</p>
				<p>
					Hilmar Halldorsson<br/>CEO Xperious
				</p>
			</div>
			<a href="#" class="close-section"></a>
		</div>
	</div>		
	<div class="section login-section">
		<div class="site-block">
			<div class="clearfix login-title">
				<a href="/signin" class="fl ">Sign in</a>
				<a href="/signup" class="fr selected">Sign up</a>
			</div>
			<form action="#" class="signup-form">
				<div class="form-row">
					<a href="#" class="fb-signup"><span>SIGN IN USING FACEBOOK</span></a>
				</div>
				<div class="or-block"><span>OR</span></div>
				<div class="form-row">
					<label for="">Email</label>
					<input type="text">
				</div>
				<div class="form-row">
					<label for="">Password</label>
					<input type="password">
				</div>
				<div class="form-row">
					<label class="custom-checkbox fl">
						<input type="checkbox" /> Remember me
					</label>
					<a href="#" class="fr">Forgot password?</a>
				</div>
				<div class="form-controls">
					<input type="submit" value="Sign in" class="button">
				</div>
				<p class="explainer">Don't have an account? <a href="/signup">Sign Up</a></p>
			</form>
		</div>
	</div>	

    <div class="footer-view" />
    <div class="bottom-shadow">
       <br/>
    </div>

</div>
<div class="bottom-view" />