<div class="site">

    <div id="home" class="section inner-home-section signup-header">
      <div class="header-view"></div>
    </div>		
	<div class="section login-section">
		<div class="site-block">
			<div class="clearfix login-title">
				<a href="/signin" class="fl selected">Sign in</a>
				<a href="/signup" class="fr">Sign up</a>
			</div>
			<form action="#" class="signup-form">
				<div class="form-row">
					<a href="#" class="fb-button button button-full-width"><span>SIGN UP USING FACEBOOK</span></a>
				</div>
				<div class="or-block"><span>OR</span></div>
				<div class="form-row">
					<label for="">First name</label>
					<input type="text">
				</div>
				<div class="form-row">
					<label for="">Last name</label>
					<input type="text">
				</div>
				<div class="form-row">
					<label for="">Email</label>
					<input type="text">
				</div>
				<div class="form-row">
					<label for="">Password  - <a href="#">Generate strong password</a></label>
					<input type="password">
				</div>
				<div class="form-row">
					<label for="">Confirm password</label>
					<input type="password">
				</div>
				<div class="form-row">
					<label class="custom-checkbox fl">
						<input type="checkbox" /> Remember me
					</label>
				</div>
				<div class="form-controls">
					<input type="submit" value="Sign me up" class="button button-full-width">
				</div>
				<p class="explainer">By clicking "Sign up with Facebook" you confirm that you accept the <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a></p>
				<p class="explainer">Already an Xperious member? <a href="/signin">Sign In</a></p>
			</form>
		</div>
	</div>	

    <div class="footer-view" />
    <div class="bottom-shadow">
       <br/>
    </div>

</div>
<div class="bottom-view" />