/*Colors and fonts*/



/*Attraction skins*/

/*Dafault skin blue*/
.link-ico {display: inline-block; padding-left: 16px; background: url(/images/link-ico-blue.png) no-repeat left center; font-size: 11px; text-decoration: underline;}
.link-ico:hover {text-decoration: none;}
.element-cover {background-color: #559fd3;}
.attraction-actions .button-colored {background-color: #559fd3;}
.attraction-actions .button-colored:hover {background-color: #366382;}
.attractions-title-section {border-bottom: 2px solid #559fd3;}
.sights-section {background: #ebeff2; border-bottom: 2px solid #559fd3;}
.region-select li.selected a, 
.region-select li a:hover,
.attractions-title-section h2,
.attraction-details-table td a,
.link-ico,
.sights-section .title,
.sights-section .details h4,
.sights-section .details p span,
.attractions-title-section a {color: #559fd3;}


/*Skin color: sand*/
.skin-sand .link-ico {background: url(/images/link-ico-sand.png) no-repeat left center;}
.skin-sand .element-cover {background-color: #d5af37;}
.skin-sand .attraction-actions .button-colored {background-color: #d5af37;}
.skin-sand .attraction-actions .button-colored:hover {background-color: #aa8c00;}
.skin-sand .attractions-title-section {border-bottom: 2px solid #d5af37;}
.skin-sand .sights-section {background: #faf5e7; border-bottom: 2px solid #d5af37;}
.skin-sand .region-select li.selected a, 
.skin-sand .region-select li a:hover,
.skin-sand .attractions-title-section h2,
.skin-sand .attraction-details-table td a,
.skin-sand .link-ico,
.skin-sand .sights-section .title,
.skin-sand .sights-section .details h4,
.skin-sand .sights-section .details p span,
.skin-sand .attractions-title-section a {color: #d5af37;}


/*Skin color: green*/
.skin-green .link-ico {background: url(/images/link-ico-green.png) no-repeat left center;}
.skin-green .element-cover {background-color: #86c543;}
.skin-green .attraction-actions .button-colored {background-color: #86c543;}
.skin-green .attraction-actions .button-colored:hover {background-color: #53762b;}
.skin-green .attractions-title-section {border-bottom: 2px solid #86c543;}
.skin-green .sights-section {background: #edf1e9; border-bottom: 2px solid #86c543;}
.skin-green .region-select li.selected a, 
.skin-green .region-select li a:hover,
.skin-green .attractions-title-section h2,
.skin-green .attraction-details-table td a,
.skin-green .link-ico,
.skin-green .sights-section .title,
.skin-green .sights-section .details h4,
.skin-green .sights-section .details p span,
.skin-green .attractions-title-section a {color: #86c543;}