<div class="site-block">
     <h2>You have told us so far:</h2>
     <p>Your type of interest: 
        <strong> 
            <%if (pref.query) { %>
                <%= pref.query %>
           <%} else { %>
                Not Specified
           <% } %>
       </strong> 
       - Timeframe: <strong><%= pref.from %></strong> - <strong><%= pref.to %></strong>
       - Arrival: <strong><%= arrival.terminal %></strong> at <strong><%= arrival.time %></strong> 
       - Guests: 
       <strong class="comma-separated">
          <% if(pref.guests.adults > 0) { %>
            <%= pref.guests.adults + ' adults' %><%= pref.guests.children + pref.guests.infants + pref.guests.seniors > 0 ? ',' : '' %>
          <% } %>
          <% if(pref.guests.children > 0) { %>
            <%= pref.guests.children + ' children' %><%= pref.guests.infants + pref.guests.seniors > 0 ? ',' : '' %>
          <% } %>
          <% if(pref.guests.infants > 0) { %>
            <%= pref.guests.infants + ' infants' %><%= pref.guests.seniors > 0 ? ',' : '' %>
          <% } %>
          <% if(pref.guests.seniors > 0) { %>
            <%= pref.guests.seniors + ' seniors' %>
          <% } %>
      </strong>
       <%if (pref.idle && pref.idle.from && pref.idle.to) { %>
          - Event: <strong><%= pref.idle.from %></strong> - <strong><%= pref.idle.to %></strong> 
       <% } %>
       <%if (pref.budget && pref.budget.from && pref.budget.to) { %> 
           - Budget: <strong>&euro;<%= pref.budget.from %> - &euro;<%= pref.budget.to %></strong> per person
       <% } %>
       - Type of travel: <strong>On my own</strong>  
       -  Accommodation: <strong>Hotels</strong>
      </p>
</div>