<div class="site-block">
     <div class="package-list-options">
          My type of interest/theme is 
          <span>
             <span>golf, horses, hicking</span>
             <div class="white-popup input-popup">
              <span class="nip"></span>
              <input type="text" placeholder="I'd like to"/>
             </div>
          </span> 
          and the timeframe is 
          <span>
            <span>01.10.2013 - 23.11.2013</span>
          </span> 
          traveling 
          <span>
            <span>5</span>
          </span> 
          my budget is 
          <span>
            <span>150.000 ISK</span>
             <div class="white-popup input-popup">
              <span class="nip"></span>
              <input type="text" placeholder="I'd like to"/>
             </div>
          </span> 
          per person my accommodation type is 
          <span>
            <span>hotels</span>
            <div class="white-popup accommodation-popup">
              <span class="nip"></span>
              <form class="clearfix">
                <div class="col-1">
                  <h4>HOTELS</h4>
                  <div class="form-row">
                    <label class="custom-checkbox" for="ch-1-1">
                      <input type="checkbox" id="ch-1-1" />
                    </label>
                    <div class="clearfix">
                      <input name="star1" type="radio" class="star" checked="checked"/>
                      <input name="star1" type="radio" class="star" />
                      <input name="star1" type="radio" class="star" />
                      <input name="star1" type="radio" class="star" />
                      <input name="star1" type="radio" class="star" />
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="custom-checkbox clearfix" for="ch-1-2">
                      <input type="checkbox" id="ch-1-2" />
                    </label>
                    <div class="clearfix">
                      <input name="star2" type="radio" class="star" />
                      <input name="star2" type="radio" class="star" checked="checked" />
                      <input name="star2" type="radio" class="star" />
                      <input name="star2" type="radio" class="star" />
                      <input name="star2" type="radio" class="star" />
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="custom-checkbox clearfix" for="ch-1-3">
                      <input type="checkbox" id="ch-1-3" />
                    </label>
                    <div class="clearfix">
                      <input name="star3" type="radio" class="star" />
                      <input name="star3" type="radio" class="star" />
                      <input name="star3" type="radio" class="star" checked="checked" />
                      <input name="star3" type="radio" class="star" />
                      <input name="star3" type="radio" class="star" />
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="custom-checkbox clearfix" for="ch-1-4">
                      <input type="checkbox" id="ch-1-4" />
                    </label>
                    <div class="clearfix">
                      <input name="star4" type="radio" class="star" />
                      <input name="star4" type="radio" class="star" />
                      <input name="star4" type="radio" class="star" />
                      <input name="star4" type="radio" class="star" checked="checked" />
                      <input name="star4" type="radio" class="star" />
                    </div>
                  </div>
                  <div class="form-row">
                    <label class="custom-checkbox clearfix" for="ch-1-5">
                      <input type="checkbox" id="ch-1-5" />
                    </label>
                    <div class="clearfix">
                      <input name="star5" type="radio" class="star" />
                      <input name="star5" type="radio" class="star" />
                      <input name="star5" type="radio" class="star" />
                      <input name="star5" type="radio" class="star" />
                      <input name="star5" type="radio" class="star" checked="checked" />
                    </div>
                  </div>
                </div>
                <div class="col-2">
                  <h4>OTHER</h4>
                  <label class="custom-checkbox" for="ch-2-1">
                    <input type="checkbox" id="ch-2-1" />
                    Guesthouse
                  </label>
                  <label class="custom-checkbox" for="ch-2-2">
                    <input type="checkbox" id="ch-2-2" />
                    Camping
                  </label>
                  <label class="custom-checkbox" for="ch-2-3">
                    <input type="checkbox" id="ch-2-3" />
                    Campers
                  </label>
                  <label class="custom-checkbox" for="ch-2-4">
                    <input type="checkbox" id="ch-2-4" />
                    Trailer tents
                  </label>
                  <label class="custom-checkbox" for="ch-2-5">
                    <input type="checkbox" id="ch-2-5" />
                    Folding trailers
                  </label>
                  <label class="custom-checkbox" for="ch-2-6">
                    <input type="checkbox" id="ch-2-6" />
                    Icelandic farms
                  </label>
                </div>
              </form>
             </div>
          </span>
      </div>
   <!--   <p>Your type of interest: 
        <strong> 
            <%if (pref.query) { %>
                <%= pref.query %>
           <%} else { %>
                Not Specified
           <% } %>
       </strong> 
       - Timeframe: <strong><%= pref.from %></strong> - <strong><%= pref.to %></strong>
       - Arrival: <strong><%= arrival.terminal %></strong> at <strong><%= arrival.time %></strong> 
       - Guests: 
       <strong class="comma-separated">
          <% if(pref.guests.adults > 0) { %>
            <%= pref.guests.adults + ' adults' %><%= pref.guests.teenagers + pref.guests.children + pref.guests.infants + pref.guests.seniors > 0 ? ',' : '' %>
          <% } %>
          <% if(pref.guests.teenagers > 0) { %>
            <%= pref.guests.teenagers + ' teenagers' %><%= pref.guests.children + pref.guests.infants + pref.guests.seniors > 0 ? ',' : '' %>
          <% } %>
          <% if(pref.guests.children > 0) { %>
            <%= pref.guests.children + ' children' %><%= pref.guests.infants + pref.guests.seniors > 0 ? ',' : '' %>
          <% } %>
          <% if(pref.guests.infants > 0) { %>
            <%= pref.guests.infants + ' infants' %><%= pref.guests.seniors > 0 ? ',' : '' %>
          <% } %>
          <% if(pref.guests.seniors > 0) { %>
            <%= pref.guests.seniors + ' seniors' %>
          <% } %>
      </strong>
       <%if (pref.idle && pref.idle.from && pref.idle.to) { %>
          - Event: <strong><%= pref.idle.from %></strong> - <strong><%= pref.idle.to %></strong> 
       <% } %>
       <%if (pref.budget && pref.budget.from && pref.budget.to) { %> 
           - Budget: <strong>&euro;<%= pref.budget.from %> - &euro;<%= pref.budget.to %></strong> per person
       <% } %>
       - Type of travel: <strong>On my own</strong>  
       -  Accommodation: <strong>Hotels</strong>
      </p> -->
</div>