<div class="site package-list-page">
	<div id="home" class="section inner-home-section">
      <div class="header-view"></div>
	  <div class="site-block">
	    <h1>Choose your favorite <strong>dream vacation</strong> package from our suggestions</h1>
	  </div>
	</div>
	<div class="section search-preferences-section">
        <div class="search-preferences-view" />
	</div>
	<div class="section default-section">
	  <div class="site-block clearfix">
          <div class="search-results-view" />
	  </div>
	</div>
    <div class="questions-view" />
    <div class="footer-view" />
    <div class="bottom-shadow">
        <br/>
   </div>
</div>
<div class="bottom-view" />