.attractions-place-page .inner-home-section{background:url(/images/attractions-bg-2.jpg) no-repeat fixed center top;position:relative;-webkit-background-size:auto 250px;-moz-background-size:auto 250px;-o-background-size:auto 250px;background-size:auto 250px;}
.attractions-place-page .inner-home-section h1{padding-top:117px;padding-bottom:69px;}
.attractions-place-page .inner-home-section h1 span{display:inline-block; font-weight:500;padding-bottom:6px;padding-left:12px;padding-right:12px;}

/*Attractions section title -------------------------------------------------------------------------- */
.attractions-place-page .gallery-section .site-block{padding-top:50px;padding-bottom:50px;}
.attractions-place-page .gallery-section{background:url(/images/gallery-bg-2.jpg) no-repeat fixed center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}



.attraction-gallery {width: 600px; float: left; height: 390px;}
.attraction-details {width: 366px; float: right; padding: 9px 12px; background: #333; min-height: 372px; color: #e5e5e5;}

.attraction-details-table {width: 100%; font-size: 14px;}
.attraction-details-table td img {vertical-align: middle;}
.attraction-details-table .title {width: 88px; text-align: right; color: #a6a49f; vertical-align: top;}
.attraction-details-table td {padding-right: 12px; line-height: 22px;}


/*Package info section -------------------------------------------------------------------------- */
.package-info-section h2.green{font-size:57px;color:#86c543;margin-bottom:4px;}
.attractions-place-page .package-info-section p{margin-top:4px;margin-bottom:3px;}
.attractions-place-page .package-info-section .site-block{padding-top:15px;}

/*Attractions place info section -------------------------------------------------------------------------- */
.attractions-place-info-section{background:#fff;}
.attractions-place-info-section .site-block{padding-top:6px;padding-bottom:14px;}
.attractions-place-info-section .col-1{float:left;width:565px;font-size:14px;color:#333;}
.attractions-place-info-section .col-1 strong{font-weight:500;}
.attractions-place-info-section .col-1 p {font-size: 14px; color: #333; line-height: 21px; margin-top: 0px; margin-bottom: 17px;}
.attractions-place-info-section .col-1 h4 {margin-bottom: 0px; font-size: 14px; font-weight: bold;}
.attractions-place-info-section .col-2{float:right;width:390px;}
.attraction-map {margin-top: 7px; margin-bottom: 25px;}
.attractions-place-info-section .fb-block {padding-bottom: 25px; padding-top: 25px;}
.attractions-place-info-section .xperious-rating {padding-bottom: 18px;}


.attraction-actions {padding-top: 25px; padding-bottom: 45px;}
.attraction-actions .button {font-size: 14px; line-height: 40px; margin-right: 18px; height: 40px;}
.attraction-actions .button:hover {background-color: #605f5c;}

.attractions-place-info-section .bordered{border-top:1px solid #a6a49f;}
.attractions-place-info-section .bordered p{margin:0;padding:8px 0;padding-bottom:7px;border-bottom:1px solid #a6a49f;}
.attractions-place-info-section .description p{line-height:19px;margin:17px 0;}
.attractions-place-info-section .description .attribution{display:inline-block;margin-top:50px;font-size:12px;border-bottom:1px solid #eee;}
.attractions-place-info-section .description img{margin-bottom:3px;}
.attractions-place-info-section h3{text-transform:uppercase;margin:0;color:#605f5c;font-size:20px;font-weight:300;margin-bottom:2px;}
.attractions-place-info-section .list{margin-bottom:38px;}
.attractions-place-info-section .list li{width:186px;padding-right:10px;margin-bottom:0px;float:left;padding-left:6px;background:url(/images/list-li.png) no-repeat left 10px;font-size:14px;line-height:19px;}
.attractions-place-info-section .list a:hover{color:#8D8D8C;}


.attraction-bottom-links {padding-top: 24px; padding-bottom: 26px;}
.social-shading {margin-top: 20px; margin-bottom: 20px;}


/*Attractions place social section -------------------------------------------------------------------------- */
.attractions-place-social {background:#f2f2f2;}
.attractions-place-social .col-1{float:left;width:447px;margin-left:110px;padding-top:40px;padding-bottom:40px;}
.attractions-place-social .col-2{float:right;width:305px;padding-right:100px;}
.attractions-place-social .fb-like-long,
.attractions-place-social .icon{float:left;margin-right:14px;}
.attractions-place-social .button{float:left;margin-top:30px;height:40px;line-height:40px;font-size:14px;background-color:#86c543;font-weight:400;width:89px;}
.attractions-place-social .button:hover{background-color:#53762b;}
.attractions-place-social .map-image{float:right;padding-top:17px;}

.attractions-place-social .title {text-transform: uppercase; color: #3c5193; font-size: 36px;padding-top: 35px; padding-bottom: 0px;}
.attractions-place-social p {font-size: 18px; color: #333; margin-top: 0px; margin-bottom: 23px;}
.attractions-place-social .fb-button {display: inline-block; padding-left: 47px; line-height: 35px; padding-right: 10px; background: #3c5193 url(/images/fb-button-ico.png) no-repeat left center; font-size: 14px; color: #fff; margin-bottom: 43px;}
.attractions-place-social .fb-button:hover {background-color: #3e527a;}

/* Trip advisor section -------------------------------------------------------------------------- */
.tripAdvisor-section {background: #fff; padding-top: 45px;}
.tripAdvisor-section .title {color: #4a8834; font-size: 36px;padding-bottom: 41px;}
.tripAdvisor-section .title span {display: inline-block; padding-right: 140px; background: url(/images/trip-advisor-logo.png) no-repeat right 17px;}

.reviews-list {padding-top: 5px;}
.reviews-list .col-1 {width: 485px; float: left;}
.reviews-list .col-2 {width: 475px; float: right;}

.review-item {margin-bottom: 45px; color: #333;}
.review-item h5 {margin-top: 0; font-size: 16px; font-weight: bold; margin-bottom: 5px; padding-left: 124px; background: url(/images/ta-rating-2.png) no-repeat left center;}
.review-item .date {margin: 9px 0 4px 0; color: #a6a49f; font-style: italic; font-size: 14px;}
.review-item p {margin-top: 4px; margin-bottom: 0px; font-size: 14px; line-height: 21px;}

/*Sights section*/
.sights-section {background: #faf5e7; padding-top: 45px;}

.sights-section .title {font-size: 36px; color: #d5af37; text-align: center; padding-bottom: 48px;}
.sights-section .element {display: inline-block; border-bottom: 1px solid #a6a49f; position: relative; height: 250px; overflow: hidden;}
.sights-section .details p {font-size: 12px; line-height: 17px; color: #333; margin-top: 4px;}
.sights-section .details h4 {font-weight: bold; color: #559fd3; font-size: 16px; margin-top: 7px; margin-bottom: 4px;}
.element-cover {background: #559fd3 url(/images/eye-ico-2.png) no-repeat center center; position: absolute; left: 0px; bottom: 0px; overflow: hidden; text-align: center; right: 0px; -moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s; height: 0px;}
.element:hover .element-cover {-moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s; height: 250px;}
.element-cover .cover-title {color: #fff; font-weight: bold; font-size: 16px; padding-top: 30px;}
.element-cover .cover-subtitle {color: #fff; font-size: 12px;}
.element-thumbs {position: absolute; width: 100%; top: 165px;}
.element-thumbs img {margin: 0 2px; border: 2px solid #fff;}
.more-attractions {padding-top: 41px; padding-bottom: 45px;}
.more-attractions a {font-size: 16px; color: #a6a49f; text-transform: uppercase;}
.more-attractions a strong {font-weight: 500;}


/*Rout on map section -------------------------------------------------------------------------- */
.attractions-place-page .rout-on-map-section h2{width:192px;}

/* overrides */
.attractions-place-page .inner-home-section{background:url(/images/attractions-bg-2.jpg) no-repeat fixed center top;}
.attractions-place-page .rout-on-map-section .map-holder{width:780px;height:390px;padding:0px;margin-top:45px;}
.attractions-place-page .gallery .media-holder{width:780px;height:500px;}
.attractions-place-page .gallery .media-holder img{padding-right:780px;padding-bottom:500px;background-size:cover;background-position:center center;}
.attractions-place-page .gallery .thumbs-holder img{padding-right:156px;padding-bottom:100px;background-size:cover;background-position:center center;}
.attractions-place-page .loading{width:100%;height:180px;padding-top:120px;text-align:center;background-color:#fff}
.attractions-place-page .loading img{width:35px;opacity:0.75;}

/*Attraction skins*/

/*Dafault skin blue*/
.link-ico {display: inline-block; padding-left: 16px; background: url(/images/link-ico-blue.png) no-repeat left center; font-size: 11px; text-decoration: underline;}
.link-ico:hover {text-decoration: none;}
.element-cover {background-color: #559fd3;}
.attraction-actions .button-colored {background-color: #559fd3;}
.attraction-actions .button-colored:hover {background-color: #366382;}
.attractions-title-section {border-bottom: 2px solid #559fd3;}
.sights-section {background: #ebeff2; border-bottom: 2px solid #559fd3;}
.region-select li.selected a, 
.region-select li a:hover,
.attractions-title-section h2,
.attraction-details-table td a,
.link-ico,
.sights-section .title,
.sights-section .details h4,
.sights-section .details p span,
.attractions-title-section a {color: #559fd3;}


/*Skin color: sand*/
.skin-sand .link-ico {background: url(/images/link-ico-sand.png) no-repeat left center;}
.skin-sand .element-cover {background-color: #d5af37;}
.skin-sand .attraction-actions .button-colored {background-color: #d5af37;}
.skin-sand .attraction-actions .button-colored:hover {background-color: #aa8c00;}
.skin-sand .attractions-title-section {border-bottom: 2px solid #d5af37;}
.skin-sand .sights-section {background: #faf5e7; border-bottom: 2px solid #d5af37;}
.skin-sand .region-select li.selected a, 
.skin-sand .region-select li a:hover,
.skin-sand .attractions-title-section h2,
.skin-sand .attraction-details-table td a,
.skin-sand .link-ico,
.skin-sand .sights-section .title,
.skin-sand .sights-section .details h4,
.skin-sand .sights-section .details p span,
.skin-sand .attractions-title-section a {color: #d5af37;}


/*Skin color: green*/
.skin-green .link-ico {background: url(/images/link-ico-green.png) no-repeat left center;}
.skin-green .element-cover {background-color: #86c543;}
.skin-green .attraction-actions .button-colored {background-color: #86c543;}
.skin-green .attraction-actions .button-colored:hover {background-color: #53762b;}
.skin-green .attractions-title-section {border-bottom: 2px solid #86c543;}
.skin-green .sights-section {background: #edf1e9; border-bottom: 2px solid #86c543;}
.skin-green .region-select li.selected a, 
.skin-green .region-select li a:hover,
.skin-green .attractions-title-section h2,
.skin-green .attraction-details-table td a,
.skin-green .link-ico,
.skin-green .sights-section .title,
.skin-green .sights-section .details h4,
.skin-green .sights-section .details p span,
.skin-green .attractions-title-section a {color: #86c543;}

