/*Font declarations*/
body, button,input,select,textarea, .ui-widget{font-family: 'Ubuntu', sans-serif; font-weight: 300;}

/*---Default elements---*/
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;text-decoration:none;color:#86c543;}
a:hover,a:focus{outline:none;}
a img{border:none;}
img{vertical-align:middle;-ms-interpolation-mode:bicubic;}
b,strong{font-weight:500;}
p{line-height:1.2em;margin:12px 0;}
hr{display:block;height:1px;border:0;border-top:1px solid #e5e5e5;margin:1em 0;padding:0;}
h1,h2,h3,h4,h5,h6{margin:12px 0;font-weight:300;}

/*Tables*/
table{border-collapse:collapse;border-spacing:0;}
table.full-table{width:100%;}
td,td img{vertical-align:top;}

/*Forms*/
form{margin:0;}
textarea{overflow:auto;vertical-align:top;}
fieldset{border:0;margin:0;padding:0;}
legend{border:0;margin-left:-7px;padding:0;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}
input[type="search"]{-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button;}
button,input{line-height:normal;overflow:visible;}
.form-row input[type="text"],.form-row label{display:inline-block;float:left;}
label.for-input{width:auto !important;cursor:pointer}
input.radio,input.checkbox{vertical-align:text-bottom;margin:0;}
input[type="text"],input[type="password"],textarea,select{border:1px solid #ccc;position:relative;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
button{width:auto;overflow:visible;}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;vertical-align:middle;outline:none;outline:none;}

/*Placeholders*/
.placeholder{color:#6d6d6d;font-weight:300;}
::-webkit-input-placeholder{color:#6d6d6d;font-weight:300;}
:-moz-placeholder{color:#6d6d6d;font-weight:300;}
::-moz-placeholder{color:#6d6d6d;font-weight:300;opacity:1;}
:-ms-input-placeholder{color:#6d6d6d;font-weight:300;}

/*Custom buttons*/
.button{padding-top:0;padding-bottom:0;display:inline-block;border-radius:4px;background:#86c543; padding-left:16px; padding-right: 16px; height:40px;line-height:40px;text-transform:uppercase;color:#fff;font-size:14px;border:none;text-align:left;position:relative; 
	-webkit-transition: background-color 0.2s linear; 
	-moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
}
.button:hover {background: #53762b;
	-webkit-transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -o-transition: background-color 0.2s linear;
    -ms-transition: background-color 0.2s linear;
    transition: background-color 0.2s linear;
 }

.button-grey {background: #a6a49f;}
.button-grey:hover {background: #605f5c;}


/*Autocomplete*/
.ui-autocomplete{padding:0;background:#fff;}
.ui-menu .ui-menu-item{border:none;background:none !important;margin:0 !important;}
.ui-menu .ui-menu-item a{padding:4px 17px;font-size:14px;color:#6d6d6d;border:none;background:none !important;margin:0 !important;}
.ui-menu .ui-menu-item a:hover{color:#fff;background:#86c543 !important;}
.ui-menu .ui-menu-item a.ui-state-focus{color:#fff;background:#86c543 !important;}

/*Custom Selectmenu*/
.ui-selectmenu{display:block;display:inline-block;position:relative;height:44px;vertical-align:middle;text-decoration:none;overflow:hidden;zoom:1;float:left;border:none;background:#fff;border-radius:4px;font-weight:300;}
.ui-selectmenu.ui-corner-top{border-radius:4px 4px 0 0;}
.ui-selectmenu.to-top{border-radius:0 0 4px 4px;}
.ui-selectmenu-icon{position:absolute;right:6px;margin-top:-8px;top:50%;}
.ui-selectmenu-menu{padding:0;margin:0;position:absolute;top:0;display:none;z-index:1005;}

/* z-index:1005 to make selectmenu work with dialog */
.ui-selectmenu-menu ul{padding:0;margin:0;list-style:none;position:relative;overflow:auto;overflow-y:auto ;overflow-x:hidden;-webkit-overflow-scrolling:touch;}
.ui-selectmenu-open{display:block;}
.ui-selectmenu-menu-popup{margin-top:-1px;}
.ui-selectmenu-menu li{padding:0;margin:0;display:block;border-top:1px dotted transparent;border-bottom:1px dotted transparent;border-right-width:0 !important;border-left-width:0 !important;font-weight:normal !important;}
.ui-selectmenu-menu li a,.ui-selectmenu-status{line-height:1.4em;display:block;padding:.405em 2.1em .405em 1em;outline:none;text-decoration:none;}
.ui-selectmenu-menu li.ui-state-disabled a,.ui-state-disabled{cursor:default;}
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status{padding-left:20px;position:relative;margin-left:5px;}
.ui-selectmenu-menu li .ui-icon,.ui-selectmenu-status .ui-icon{position:absolute;top:1em;margin-top:-8px;left:0;}
.ui-selectmenu-status{line-height:1.4em;}
.ui-selectmenu-menu li span,.ui-selectmenu-status span{display:block;margin-bottom:.2em;}
.ui-selectmenu-menu li .ui-selectmenu-item-header{font-weight:bold;}
.ui-selectmenu-menu li .ui-selectmenu-item-footer{opacity:.8;}
.ui-selectmenu-icon,
.ui-state-default .ui-icon{width:38px;height:38px;background:url(/images/select-down.png) no-repeat left top;margin:0;right:1px;top:3px;}
.ui-selectmenu-menu li a,.ui-selectmenu-status{font-size:16px;color:#6D6D6D;font-weight:300;padding-top:0;padding-bottom:0;line-height:44px;}
.ui-selectmenu-menu li a,.ui-selectmenu-status{padding-left:13px;padding-right:38px;}
.ui-selectmenu-menu ul{background:#fff;border:none;box-shadow:0 3px 3px #eee;}
.ui-selectmenu-menu ul.to-top{box-shadow:none;border-radius:4px 4px 0 0;}
.convert-form .ui-selectmenu-menu ul{box-shadow:0 3px 3px #555;}
.ui-selectmenu-menu li,
.ui-selectmenu-menu li a,
.ui-selectmenu-menu li.ui-item-selected,
.ui-selectmenu-menu li.ui-state-hover{border:none;background:none;}
.ui-selectmenu-menu li a{border-top:1px solid #E3E2E1;}
.ui-selectmenu-menu .to-top li a{border-top:none;border-bottom:1px solid #E3E2E1;}
.ui-selectmenu-menu li a:hover{color:#999;}

/*
 * JQuery UI theme tweaks for one month calendar.
 */
.calendar .ui-widget-header{background:rgba(255,255,255,0);border:0px;}
.calendar.ui-widget-content{border:0px;background:rgba(255,255,255,0);padding:0px;}
.calendar .ui-dialog-titlebar{display:none;}
.calendar .ui-dialog-content{margin-top:3px;padding:7px 0 0 0;background-image:url('/images/calendar-nip.png');background-repeat:no-repeat;background-position:130px 0px;}
.calendar .titlebar{border-radius:3px 3px 0px 0px;background-color:#e5e5e5;height:35px;padding-left:5px;}
.calendar .titlebar .arrival-departure{font-size:16px;font-family:'Ubuntu',sans-serif;line-height:35px;margin-left:5px;}
.calendar .titlebar .selection{margin-left:5px;color:#333333;font-size:16px;font-weight:300;font-family:'Ubuntu',sans-serif;}
.calendar .titlebar sup{font-size:10px}
.calendar .titlebar .selection strong{font-weight:500}
.calendar .close{padding-right:25px;padding-top:10px;font-size:14px;height:18px;float:right;width:50px;background-image:url('/images/timeframe-next.png');background-repeat:no-repeat;background-position:35px 8px;}
.calendar .datepicker{padding-top:0px;padding-left:0px;padding-right:6px;background-image:url('/images/timeframe-bg.png');}
.calendar .ui-datepicker{width:100% !important;padding:.2em .2em 0;display:none;background:rgba(255,255,255,0);border:0px;}
.calendar .ui-datepicker .ui-state-default{border:0px;font-size:16px;font-weight:300;background:rgba(255,255,255,0);color:#333333;}
.calendar .ui-datepicker .ui-state-hover{border:0px;top:0px;right:0px;background-color:#86c543;}
.calendar .ui-datepicker .ui-state-highlight{border:0px;background:rgba(255,255,255,0);}
.calendar .ui-datepicker .ui-state-highlight .ui-state-default{border:0px;background:#86c543;}
.calendar .ui-datepicker .ui-state-active{border:0px}
.calendar .ui-datepicker-today .ui-state-default{border:0px;background:rgba(255,255,255,0);}
.calendar .ui-datepicker-today .ui-state-default.ui-state-hover{border:0px;background-color:#86c543;}
.calendar .ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0;background:rgba(255,255,255,0);border:0px;}
.calendar .ui-datepicker .ui-datepicker-prev,
.calendar .ui-datepicker .ui-datepicker-next{position:absolute;top:8px;width:1.8em;height:1.8em;}
.calendar .ui-datepicker .ui-datepicker-next{left:220px;right:0px;}
.calendar .ui-icon{width:40px;height:15px;text-transform:uppercase;font-size:10px;font-weight:300;color:#333333;padding-top:2px;}
.calendar .ui-icon-circle-triangle-e{background-image:url('/images/next-2.png') !important;background-position:27px 0px;background-size:6px 13px;text-indent:0px;}
.calendar .ui-icon-circle-triangle-w{background-image:url('/images/prev-2.png') !important;background-position:0px 0px;background-size:6px 13px;text-indent:12px;}
.calendar .ui-datepicker .ui-datepicker-prev-hover,
.calendar .ui-datepicker .ui-datepicker-next-hover{background:rgba(255,255,255,0)}
.calendar .ui-datepicker .ui-datepicker-prev-hover{left:2px}
.calendar .ui-datepicker .ui-datepicker-next-hover{right:2px}
.calendar .ui-datepicker .ui-datepicker-prev span,
.calendar .ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px;cursor:hand;cursor:pointer;}
.calendar .ui-datepicker .ui-datepicker-title{margin:0em;line-height:1.8em;text-align:center;font-size:1.4em;font-weight:300;color:#86c543;}
.calendar .ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0;}
.calendar .ui-datepicker select.ui-datepicker-month-year{width:100%}
.calendar .ui-datepicker select.ui-datepicker-month,
.calendar .ui-datepicker select.ui-datepicker-year{width:49%}
.calendar .ui-datepicker-month{font-family:'Ubuntu',sans-serif;font-weight:400;font-size:16px;}
.calendar .ui-datepicker-year{font-family:'Ubuntu',sans-serif;font-weight:400;font-size:16px;}
.calendar .ui-datepicker-group-first .ui-datepicker-title{text-align:right;width:100%;}
.calendar .ui-datepicker-group-first .ui-datepicker-year{margin-right:10px}
.calendar .ui-datepicker-group-last .ui-datepicker-month{margin-left:25px}
.calendar .ui-datepicker-group-last .ui-datepicker-title{text-align:left;width:100%;}
.calendar .ui-datepicker table{width:240px;font-size:.9em;border-collapse:collapse;margin:0px 0px 10px 10px;/* padding-left:25px;*/ /* padding-right:10px;*/}
.calendar .ui-datepicker th{/* padding:.7em .3em;*/ text-align:center;font-weight:300;text-align:right;border:0;font-size:10px;text-transform:uppercase;font-family:'Ubuntu',sans-serif;}
.calendar .ui-datepicker-week-end{color:#9b1110}
.calendar .ui-datepicker td{border:0;/* padding:3px;*/}
.calendar .ui-datepicker td span,
.calendar .ui-datepicker td a{display:block;/* padding:.2em;*/ text-align:right;text-decoration:none;font-family:'Ubuntu',sans-serif;}
.calendar .ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0;}
.calendar .ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible;}
.calendar .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}

/* with multiple calendars */
.calendar .ui-datepicker.ui-datepicker-multi{width:auto}
.calendar .ui-datepicker-multi .ui-datepicker-group{float:left}
.calendar .ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em;}
.calendar .ui-datepicker-multi-2 .ui-datepicker-group{width:370px}
.calendar .ui-datepicker-group-first{padding-right:30px}
.calendar .ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}
.calendar .ui-datepicker-multi-4 .ui-datepicker-group{width:25%}
.calendar .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
.calendar .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}
.calendar .ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}
.calendar .ui-datepicker-row-break{clear:both;width:100%;font-size:0;}

/* RTL support */
.calendar .ui-datepicker-rtl{direction:rtl}
.calendar .ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto;}
.calendar .ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto;}
.calendar .ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto;}
.calendar .ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto;}
.calendar .ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}
.calendar .ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}
.calendar .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
.calendar .ui-datepicker-rtl .ui-datepicker-group{float:right}
.calendar .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
.calendar .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px;}

/*Star rating plugin*/
div.star-rating {padding-top: 4px;}

/** Terminal selection dialog */
.terminal .terminal-body{background-image:url('/images/timeframe-bg.png');padding-top:10px;padding-left:10px;padding-right:10px;padding-bottom:10px;border-radius:0px 0px 5px 5px;}
.terminal .question{font-family:'Ubuntu',sans-serif;font-weight:400;font-size:16px;color:#86c543;padding-bottom:10px;}
.terminal .time{padding-top:50px;padding-bottom:50px;}
.terminal .buttons .idontknow{margin-left:5px;font-size:14px;color:#6D6D6D;}
.terminal .buttons .idontknow:hover{color:#333}
.terminal .buttons .button{margin-left:44px;line-height:30px;height:30px;background-color:#86c543;width:120px;text-align:left;padding-bottom:1px;font-size:14px;}
.terminal .button:hover{background-color:#53762b}
.terminal .picker{width:100%}
.terminal .picker .ui-selectmenu.ui-state-default{background:#fff;border:1px solid #ccc;}
.terminal .picker .ui-selectmenu.ui-state-hover{background:#fff;border:1px solid #ccc;}
.terminal .picker .ui-selectmenu.ui-state-active{border-radius:5px}
.terminal .picker .ui-selectmenu .ui-selectmenu-icon{height:28px;background-position:0px -3px;padding-top:0px;}
.terminal .picker a{width:100px;font-family:'Ubuntu';font-weight:300;font-size:12px;}
.terminal .picker span{font-weight:300}
.terminal .picker a.ui-selectmenu{height:35px}
.terminal .picker a.ui-selectmenu span{line-height:35px;font-size:14px;}
.terminal .picker a.ui-selectmenu{position:absolute}
.picker ul{margin-top:0px;border:1px solid #ccc;border-radius:5px;}
.picker li a{font-weight:300 !important;font-family:'Ubuntu',sans-serif;border-top:none;padding-bottom:3px;line-height:20px;height:20px;font-size:14px;}
.picker li.ui-state-hover a{color:#000}
.picker ul li{/* padding-left:15px;*/ padding-top:5px;}
.terminal .picker .ui-selectmenu-menu{border:1px solid #999}
.guest{display:inline-block;width:120px;background-color:white;margin-right:10px;float:left;border-radius:5px;margin-right:8px;}
.guest #adults{width:50px}
.guest #more{margin-top:5px;background:url('images/select-down.png') no-repeat left center;height:30px;width:30px;float:left;cursor:hand;cursor:pointer;}
.guests{width:50px;/*padding-left:30px;*/ /* background-image:url(../images/guest-ico.png);*/ background-image:none;background-repeat:no-repeat;background-position:9px 10px;color:#6d6d6d;}
.guests .ui-widget-header{background:rgba(255,255,255,0);border:0px;}
.guests.ui-widget-content{border:0px;background:rgba(255,255,255,0);padding:0px;}
.guests .ui-dialog-titlebar{display:none}
.guests .ui-dialog-content{margin-top:3px;padding:7px 0 0 0;background-image:url('/images/guests-nip.png');background-repeat:no-repeat;background-position:93px 0px;}
.guests .body{padding:0px 0px 0px 0px;background-color:#fff;border-radius:5px;}
.guests .body .row{border-bottom:1px solid #aba9a2}
.guests .body .row:last-child{border-bottom:none}
.guests .body .row input{width:10px;height:18px;color:#aba9a2;font-family:Ubuntu;font-weight:300;}
.guests .body .row input[type=text]{font-family:Ubuntu;color:#6d6d6d;padding-right:8px;padding-left:8px;font-size:14px;font-weight:400;}
.guests .body .row .label{font-size:14px;color:#aba9a2;font-family:Ubuntu;font-weight:300;line-height:34px;width:10px;}

/*Cutsom checkboxes*/
.login-section .custom-checkbox,
.custom-checkbox {position: relative; line-height: 17px; min-height: 17px; font-size: 14px; color: #333; font-weight: 300; text-align: left; padding-left: 22px;}
.custom-checkbox {padding-left: 22px !important;}
.login-section .custom-checkbox input[type="checkbox"],
.custom-checkbox input[type="checkbox"] {position: absolute; left: 2px; top: 2px;}

/*---Helpers---*/
.menu, .no-style{list-style:none;padding:0;margin:0;}
.fl{float:left;}
.fr{float:right;}
.tar{text-align:right;}
.tac{text-align:center;}
.tal{text-align:left;}
.vat{vertical-align:top;}
.vac{vertical-align:center;}
.date{color:#ccc;}
.clearfix:before,.clearfix:after,.form-row:before,.form-row:after{content:"";display:table;}
.clearfix:after,.form-row:after{clear:both;}
.clearfix,.form-row{zoom:1;}
.relative {position: relative;}

.display-none {display: none;}

/*Default form fields*/
input[type="text"],
input[type="password"],
textarea{padding:8px 16px;background:#fff;border:none;border-radius:4px;font-size:14px;color:#6d6d6d;line-height:20px;width:492px;float:left;}
input[type="text"],
input[type="password"]{height:20px;}
input.shorter{width:295px;margin-right:17px;}
.form-row{margin-bottom:15px;}

/*-----------Site structure----------*/
html{color:#333;font-size:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;font-size:14px;}
.site-block,
.site-block-in{margin:0 auto;width:990px;padding:1px 0;}
.site{margin-bottom:295px;z-index:100;position:relative;}
.layout{min-width:320px;}
.bottom-shadow{position:absolute;width:100%;height:19px;bottom:-19px;background:url(/images/footer-cover-shadow.png) repeat-x left bottom;}

/*Sections-------------------------------------------------*/
.default-section{padding-top:18px;padding-bottom:30px;background:#ececec;}
.home-section{color:#fff;position:relative;overflow:hidden;}
.article-section{color:#0d2115;font-size:25px;background:url(/images/bg-2.jpg) no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.events-section{height:315px;background:url(/images/bg-3.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.join-club-section{background:#fff;padding:47px 0;color:#6d6d6d;font-size:14px;}
.contact-info-section{background:#fff;padding:41px 0;font-size:26px;color:#a8a5a0;padding-bottom:55px;}
.contact-form-section{padding-top:38px;padding-bottom:25px;color:#a8a5a0;background:url(/images/contacts-bg.jpg) no-repeat center center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.help-section{background:#fff;padding:60px 0;color:#a8a5a0;font-size:26px;padding-top:50px;}
.team-section{color:#fff;background:url(/images/bg-4.jpg) no-repeat center center fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.footer-section{background:#a8a6a0;padding:26px 0;font-size:16px;color:#fff;padding-bottom:33px;}
.bottom-section{background:#303030;padding-top:25px;padding-bottom:21px;color:#dcdcdc;font-size:18px;text-align:center;}

/*Home section ---------------------------------------------*/
.location-indetify{background:#86c543;position:relative;border-bottom:3px solid #333;text-align:left;overflow:hidden;}
.location-indetify p{font-size:14px;color:#fff;line-height:17px;padding:12px 0;padding-bottom:17px;padding-left:42px;background:url(/images/location-ico-2.png) no-repeat left 13px;margin:0;}
.location-indetify__close{position:absolute;cursor:pointer;width:19px;height:19px;position:absolute;right:15px;top:14px;background:url(/images/location-close.png) no-repeat center center;}
.home-section .site-block-in,
.home-section .site-block{position:relative;}
.home-section .grid{position:absolute;left:0px;top:123px;width:100%;background:url(/images/grid.png) repeat scroll 0 0 transparent;}

/*Background image*/
.slider-container{text-align:center;position:relative;}
.slider-container img{position:absolute;top:50%;left:50%;visibility:hidden;}
.slider-container .cover-author{position:absolute;background:url(../images/top-menu-grad.png);bottom:65px;left:0;color:#e5e5e5;padding:11px 13px;padding-left:116px;}
.cover-author a{color:#e5e5e5;text-decoration:underline;}
.cover-author a:hover{text-decoration:none;}
.background{display:none !important;}
.background img{position:absolute;top:50%;left:50%;visibility:hidden;}

/*Prev-next*/
.home-section .prev,.home-section .next,
.popup-gallery-fader .prev,.popup-gallery-fader .next{display:inline-block;width:30px;height:30px;position:absolute;top:50%;margin-top:-15px;cursor:pointer;}
.home-section .prev,.home-section .next{margin-top:15px;}
.home-section .prev,.popup-gallery-fader .prev{background:url(/images/arrow-left.png) no-repeat center center;left:3%;}
.home-section .next,.popup-gallery-fader .next{background:url(/images/arrow-right.png) no-repeat center center;right:3%;}

/*Site header*/
.site-header{text-align:center;padding-top:1px;position:absolute;top:0;right:0;width:100%;z-index:10;}
.site-header__top{background:url(/images/header-top-bg-rep.png);}
.site-header__top .site-block-in{padding-top:2px;}
.site-header .site-block{position:relative;}
.site-header .logo{display:inline-block;float:left;padding-top:1px;padding-bottom:1px;}
.site-header .logo-text{float:left;padding-top:20px;font-size:15px;color:#e5e5e5;}
.site-header__sign-in{float:right;margin-top:20px;font-size:14px;cursor:pointer;}
.site-header__map-ico{background:url(/images/destination-map.png) no-repeat left top;width:116px;height:69px;top:0px;right:164px;display:inline-block;position:absolute;}

/*Top menu*/
.site-header__bottom{background:url(/images/top-menu-grad.png);border-top:1px solid #506639;position:relative;}
.site-header__bottom .site-block-in{position:static;}
.top-menu{float:left;}
.top-menu li{float:left;margin-right:24px;}
.top-menu a{display:inline-block;font-size:14px;color:#fff;line-height:48px;}
.top-menu a:hover{color:#86c543;}
.top-menu > li.has-submenu > a:hover,.top-menu > li.has-submenu:hover > a{background:url(/images/top-menu-active.png) no-repeat center bottom;}
.small-main-logo{overflow:hidden;text-align:left;-moz-transition:width .5s;-ms-transition:width .5s;-o-transition:width .5s;-webkit-transition:width .5s;transition:width .5s;width:0;}
.stuck .small-main-logo{-moz-transition:width .5s;-ms-transition:width .5s;-o-transition:width .5s;-webkit-transition:width .5s;transition:width .5s;width:140px;}
.top-menu__submenu{position:absolute;left:0px;top:49px;text-align:center;width:100%;background:#333;z-index:20;overflow:hidden;-moz-transition:max-height .5s;-ms-transition:max-height .5s;-o-transition:max-height .5s;-webkit-transition:max-height .5s;transition:max-height .5s;max-height:0px;}
.top-menu__submenu-in{border-bottom:1px solid #5f764d;}
.top-menu__submenu .site-block-in{padding-top:18px;padding-bottom:18px;}
.top-menu__submenu a{line-height:26px;}
.top-menu__submenu .menu{padding-left:35px;}
.top-menu__submenu li{margin-right:27px;}
li:hover .top-menu__submenu{-moz-transition:max-height .5s .5s;-ms-transition:max-height .5s .5s;-o-transition:max-height .5s .5s;-webkit-transition:max-height .5s .5s;transition:max-height .5s .5s;max-height:340px;}
.submenu-cols-5 .menu{width:175px;float:left;margin-right:15px;padding-left:0px;}
.submenu-cols-6 .menu{width:120px;float:left;margin-right:15px;padding-left:0px;}
.submenu-cols-5 .menu li,
.submenu-cols-6 .menu li{display:block;padding:0;margin:0;float:none;text-align:left}
.site-header__selected-location{line-height:40px;font-size:14px;padding-left:15px;}

/*Sticky top menu*/
.sticky-top-menu-section{background:#5c5c5c;border-top:1px solid #c4daac;position:relative;z-index:30;}
.stuck{position:fixed;top:0;width:100%;left:0px;right:0px;z-index:200;}
.sticky-top-menu-section .top-menu > li > a{line-height:48px;}
.sticky-top-menu-section .top-menu__submenu{top:49px;}
.sticky-top-menu-section .chose-destination{line-height:48px;}

/*Signin section*/
.header-signin-form{width:774px;}
.sign-in-section{background:#333;border-top:1px solid #7e9566;margin:0;overflow:hidden;height:0px;}
.sign-in-section .site-block-in{padding:9px 0;}
.sign-in-section h2{text-transform:uppercase;font-weight:300;color:#86c543;text-align:left;}
.sign-in-section h2 span{text-transform:none;color:#a6a49f;font-size:14px;}
.signin-info{font-size:14px;color:#a6a49f;margin:0;padding-top:9px;width:500px;float:left;text-align:left;}
.signin-links{width:250px;float:right;font-size:14px;padding-top:7px;padding-bottom:7px;}
.fb-login{display:inline-block;float:left;color:#fff;padding-left:37px;line-height:34px;padding-right:8px;border-radius:4px;background:#4466a9 url(/images/fb-button.png) no-repeat left top;font-size:14px;margin-right:5px;}
.fb-login img{vertical-align:baseline;}
.sign-in-section input[type="text"],
.sign-in-section input[type="password"]{font-size:14px;padding:7px 12px;width:220px;margin-right:5px;}
.sign-in-section .button{background:#86c543;width:110px;float:left;height:34px;font-size:14px;text-transform:none;text-align:center;padding:0 10px;line-height:34px;}

/*Header desination selection*/
.header-destination-section.closed{overflow:hidden;}
.header-destination-section{position:relative;}
.destination-section__title{background:#86c543;font-size:36px;color:#333;overflow:hidden;}
.destination-section__title-in{padding-top:20px;padding-bottom:20px;}
.destination-section__close{display:inline-block;position:absolute;cursor:pointer;width:32px;height:32px;background:url(/images/destination-close.png) no-repeat center center;top:65px;right:65px;z-index:10;}
.destination-section__map{overflow:hidden;}
.closed .destination-section__close{display:none;}
.closed .destination-section__title,
.closed .destination-section__map{height:0;}

/*Langiage menu*/
.lang-menu{float:right;padding-right:6px;padding-top:6px;}
.lang-menu li{float:left;margin-right:4px;}
.lang-menu a{display:inline-block;width:18px;height:14px;}
.lang-menu .en{background:url(/images/lang-uk.png) no-repeat left top;}
.lang-menu .ice{background:url(/images/lang-ice.png) no-repeat left top;}
.lang-menu .active,
.lang-menu a:hover{background-position:left bottom;}
.chose-destination{float:right;color:#fff;line-height:48px;font-size:14px;width:116px;text-align:center;background:#3b3a3a;}
.chose-destination.active{background:#86c543;}
.no-js .chose-destination:hover,
.chose-destination.hovered{color:#fff;}

/*Planner*/
.planner{position:absolute;height:200px;top:50%;margin-top:-198px;width:880px;left:50%;margin-left:-440px;}
.planner h1{font-size:52px;margin-top:0;margin-bottom:3px;width:480px;margin-left:auto;margin-right:auto;text-align:left;font-weight:600;line-height:52px;}
.planner h1 a{color:#86c543;border-bottom:1px dashed #fff;}
.planner h1 a:hover{border-bottom:1px solid #fff;}
.planner h2{font-size:19px;line-height:22px;margin:3px 0;text-align:left;width:480px;margin-left:auto;margin-right:auto;padding-top:20px;}
.planner .info{font-size:16px;line-height:22px;padding-left:16px;font-style:italic;margin:0;}
.palanner-additional{padding-top:40px;width:480px;margin:0 auto;}
.palanner-additional h3{font-size:20px;margin:0;font-weight:600;}
.palanner-additional p{font-size:14px;margin:0;}
.palanner-additional a{text-decoration:underline;}
.palanner-additional a:hover{text-decoration:none;}
.buttoned{padding-top:0;padding-bottom:0;display:inline-block;border-radius:4px;background:#fff;padding-right:10px;padding-left:35px;height:40px;line-height:40px;color:#a6a49f;font-size:14px;border:none;margin-right:7px;float:left;position:relative;}
.ico-calendar{background-image:url(/images/calendar-ico.png);background-repeat:no-repeat;background-position:9px 10px;}
.ico-guest{background-image:url(/images/guest-ico.png);background-repeat:no-repeat;background-position:9px 10px;}
.ico-event{background-image:url(/iages/event-ico.png);background-repeat:no-repeat;background-position:9px 10px;}
.planner input[type="text"]{padding:10px 16px;width:414px;font-size:14px;border-radius:4px 0 0 4px;}
.planner .button{line-height:40px;height:40px;background:#86c543 url(/images/search-ico-white.png) no-repeat center center;width:45px;text-align:left;padding-bottom:1px;font-size:14px;border-radius:0 4px 4px 0;overflow:hidden;text-indent:-999px;}
.no-js .planner .button:hover,.planner .button.hovered{background-color:#53762b;}
.planer-slide-down{display:inline-block;position:absolute;width:32px;height:31px;cursor:pointer;background:url(/images/icon-down.png) no-repeat left top;left:50%;margin-left:-16px;bottom:50px;}
.budget input[type=text]{width:48px;padding-left:15px;background-image:none;background-repeat:no-repeat;background-position:9px 10px;color:#6d6d6d;margin-right:8px;}
.ico-calendar{width:75px;background-image:none;padding-left:15px;}
.ico-calendar .placeholder{cursor:hand;cursor:pointer;}
.ico-calendar .day-month{display:inline-block;color:#6d6d6d;}
.ico-calendar .day-month:hover{color:#333333;cursor:hand;cursor:pointer;}
.ico-calendar .day-month .month{display:block;text-transform:uppercase;font-size:10px;}
.ico-calendar .day-month .day{display:block;font-weight:500;font-size:16px;height:14px;margin-top:-5px;margin-left:1px;}
.ico-calendar .separator{font-weight:500;font-size:16px;margin-right:7px;margin-left:7px;vertical-align:top;}

/*When form expands css of some elements changes,.form-expanded generadet in IndexView.js*/
.form-expanded input[type="text"]{border-radius:4px;margin-right:8px;}
.form-expanded .button{border-radius:4px;}
.form-expanded .guest input[type="text"]{margin-right:0;}

/*Planer form*/
.planner-form{padding-top:5px;padding-bottom:6px;margin:0 auto;width:492px;position:relative;z-index:5;}
.planner-form .form-row{overflow:hidden;margin-bottom:0px;position:relative;}
.planner-form .input-baloon{position:absolute;padding:10px 12px;padding-top:8px;background:#333;border:1px solid #75a840;border-radius:4px;box-shadow:0px 0px 30px rgba(0,0,0,0.8);left:50px;top:49px;width:262px;z-index:10;}
.input-baloon p{margin:0;color:#fff;font-size:14px;line-height:normal;}
.input-baloon .nip{display:inline-block;width:22px;height:11px;background:url(/images/nip-top.png) no-repeat left top;position:absolute;left:50%;margin-left:-11px;top:-11px;}
.this-has-expanded{width:880px;}
.this-has-expanded #plan-inputs-container{width:380px;height:40px !important;}

/*Video button*/
.video-button-wrap{padding-top:50px;padding-bottom:30px;}
.button__show-video{display:inline-block;padding:10px 8px;border-radius:4px;background:url(/images/button-transp.png);color:#fff;font-size:16px;}
.button__show-video span{display:inline-block;padding-right:57px;background:url(/images/video-ico.png) no-repeat right center;line-height:20px;}

/*Map popup*/
#fancybox-outer{background:none;}
.fancybox-bg{background:none !important;}
#fancybox-close{padding-right:15px;background:url(/images/close.png) no-repeat right center;top:2px;right:7px;font-size:10px;text-transform:uppercase;color:#fff;line-height:28px;padding-top:5px;}
#fancybox-close.destination{padding-right:20px;}
#map-popup .map-holder{width:100%;height:450px;background:#c9c9c9;}
.map-popup .header{position:relative;border-radius:4px 4px 0 0;}
.map-popup .map-holder{position:relative;border-radius:0 0 4px 4px;overflow:hidden;}
.map-popup .header{background:#c9c9c9;padding:36px;text-align:center;}
.map-popup .title{margin:0;font-size:51px;color:#6d6d6d;padding-bottom:3px;}
.map-popup .subtitle{margin:0;font-size:16px;color:#6d6d6d;}

/*Article section --------------------------------------------*/
.article-section{position:relative;}
.article-section .grid{position:absolute;z-index:1;left:0px;top:0px;width:100%;height:100% !important;right:0px;bottom:0px;background:url(/images/grid.png);}
.article-section .site-block{position:relative;z-index:2;height:690px;}
.article-content{position:absolute;left:0px;top:47%;width:550px;}
.article-content .brand{font-weight:bold;font-size:28px;text-transform:uppercase;margin:0;line-height:30px;}
.article-content h2{font-size:57px;font-weight:bold;margin:0;line-height:50px;text-transform:uppercase;}
.article-content .subcontent{margin:0;line-height:39px;}
.article-content .text{margin:0;margin-top:21px;line-height:29px;}
.article-content .button{background-color:#0d2115;font-size:14px;height:40px;line-height:40px;width:85px;}
.no-js .article-content .button:hover,.article-content .button.hovered{background-color:#2c4938;}
.article-section .logo{position:absolute;right:-425px;bottom:0px;}

/*Travel options section*/
.travel-options-section{background:#fff;text-align:center;color:#333;font-size:20px; line-height: 27px; height:0;overflow:hidden;-moz-transition:height .5s;-ms-transition:height .5s;-o-transition:height .5s;-webkit-transition:height .5s;transition:height .5s;}
.travel-options-section.visible{-moz-transition:height .5s;-ms-transition:height .5s;-o-transition:height .5s;-webkit-transition:height .5s;transition:height .5s;height:99px;}
.travel-options-section-in{border-bottom:3px solid #d5af37;padding-top:33px;padding-bottom:36px;}
.travel-options-section span{display:inline-block;position:relative;border-bottom:1px dashed #2b2b2b;font-weight:500;color:#d5af37;}

/*Travel plan section ----------------------------------------*/
.travel-plan-section{background:#e5e5e5;padding-bottom:45px;}
.travel-plan-section .section-title{font-size:35px;font-weight:300;text-align:center;padding-top:27px;margin-bottom:1px;}
.travel-plan-section .section-subtitle{text-align:center;font-size:20px;padding-bottom:40px;}
.plan-top-info,
.plan-bottom-info{position:absolute;padding:6px 12px;background:url(/images/top-menu-grad.png);z-index:20;color:#fff;}
.travel-plan-section a{display:block;position:relative;z-index:9;}
.travel-plan-section .plan-cover{position:absolute;left:0px;top:0px;right:0px;bottom:0px;width:100%;height:100%;background:url(/images/image-hover-cover.png) no-repeat center center;display:none;}
a:hover .plan-cover{display:block;z-index:21;}
.plan-top-info{left:0px;top:0px;right:0px;background:url(/images/plan-grad-top.png) repeat-x left top;text-align:center;font-size:18px;line-height:20px;padding:10px;padding-top:25px;min-height:45px;vertical-align:middle;}
.plan-top-info .dotted{color:#fff;border-bottom:1px dashed #fff;}
.plan-bottom-info{left:0px;bottom:0px;right:0px;background:url(/images/plan-grad-bottom.png) repeat-x left bottom;text-align:center;font-size:14px;line-height:20px;padding:14px 10px;padding-top:26px;min-height:40px;vertical-align:middle;}
.plan-bottom-info span{display:block;font-size:18px;}
.travel-plans-holder{width:990px;height:770px;position:relative;margin-bottom:43px;}
.travel-plan-block-1{position:absolute;left:0px;top:0px;width:240px;height:380px;background:#fff;overflow:hidden;}
.travel-plan-block-2{position:absolute;left:250px;top:0px;width:240px;height:380px;background:#fff;overflow:hidden;}
.travel-plan-block-3{position:absolute;right:0px;top:0px;width:490px;height:380px;background:#fff;overflow:hidden;}
.travel-plan-block-4{width:240px;height:380px;position:absolute;left:0px;bottom:0px;background:blue;overflow:hidden;}
.travel-plan-block-5{width:240px;height:380px;position:absolute;left:250px;bottom:0px;overflow:hidden;background:#fff;}
.travel-plan-block-6{width:240px;height:185px;position:absolute;right:250px;bottom:195px;background:grey;overflow:hidden;}
.travel-plan-block-7{width:240px;height:185px;position:absolute;right:250px;bottom:0px;background:grey;overflow:hidden;}
.travel-plan-block-8{width:240px;height:380px;position:absolute;right:0px;bottom:0px;background:grey;overflow:hidden;}
.travel-plans-bottom a{font-size:16px;color:#a8a5a0;}

/*Travel block 1*/
.travel-plan-block-1 p{margin:10px 16px;font-size:14px;line-height:20px;}

/*Travel block 3*/
.travel-plan-block-3 .lefter{width:315px;float:left;padding-left:16px;font-size:14px;line-height:20px;}
.travel-plan-block-3 p{font-size:14px;line-height:20px;}
.travel-plan-block-3 .righter{width:120px;float:right;padding-right:16px;font-size:14px;line-height:20px;}
.travel-plan-block-3 strong{font-weight:500;}

/*Travel block 5*/
.travel-plan-block-5 h3{padding-right:41px;display:inline-block;padding-top:48px;background:url(/images/info-ico-green.png) no-repeat right 20px;font-size:18px;color:#333;padding-left:15px;font-weight:400;margin:0;}
.travel-plan-block-5 ul{padding:15px;}
.travel-plan-block-5 li{margin-bottom:10px;display:block;}
.travel-plan-block-5 a{display:inline-block;font-size:14px;text-decoration:none;border-bottom:1px dashed #333;}
.travel-plan-block-5 a:hover{border-bottom:none;padding-bottom:1px;}

/*Favorite theme section ----------------------------*/
.favorite-theme-section{background:url(/images/themes-section-bg.jpg) no-repeat center center fixed;padding-top:30px;padding-bottom:39px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.favorite-theme-section h2{color:#fff;font-size:36px;text-align:center;margin-bottom:4px;}
.favorite-theme-section h3{font-size:18px;color:#fff;margin-bottom:48px;text-align:center;margin-top:4px;}
.trip-themes-list li{float:left;width:240px;height:185px;margin-right:10px;margin-bottom:10px;}
.trip-themes-list li:nth-child(4n){margin-right:0;}
.trip-themes-list a{display:block;width:240px;height:185px;overflow:hidden;position:relative;}
.trip-themes-list img{position:absolute;z-index:0;left:0px;top:50%;margin-top:-92.5px;}
.trip-themes-list .theme-hover-main-text{width:240px;height:185px;display:table-cell;vertical-align:middle;text-align:center;color:#fff;font-size:36px;font-weight:400;position:relative;padding:0 20px;line-height:34px;}
.trip-themes-list a:hover .theme-hover-main-text{display:none;}
.theme-hover-text__in{padding-top:14px;font-size:18px;padding-bottom:34px;background:url(/images/more-ico.png) no-repeat center bottom;}
.theme-image-holder{display:block;position:absolute;left:0px;top:0px;right:0px;width:100%;-moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s;height:185px;}
.theme-hover-text{position:absolute;left:0px;bottom:0px;right:0px;color:#fff;width:100%;background:#333;text-align:center;-moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s;height:0px;}
a:hover .theme-image-holder{-moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s;height:100px;}
a:hover .theme-hover-text{-moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s;height:85px;}

/*Instagram section ------------------------------------*/
.instagram-section{background:#e5e5e5;padding-top:42px;padding-bottom:51px;border-top:1px solid #2f598a;}
.instagram-section .title{padding-left:29px;padding-bottom:13px;color:#a6a49f;font-size:24px;text-transform:uppercase;}
.instagram-section .title img{margin-left:90px;margin-top:5px;}
.instagram-section .image-list a{display:inline-block;float:left;margin-right:1px;position:relative;display:inline-block;}
.instagram-section .plan-cover{position:absolute;width:100%;height:100%;left:0px;top:0px;right:0px;bottom:0px;background:url(/images/image-hover-cover.png) no-repeat center center;display:none;}
.instagram-section a:hover .plan-cover{display:block;}

/*Inspired by Iceland section -------------------------------------*/
.inspired-iceland-section{background:url(/images/inspired-iceland-bg.jpg) no-repeat center center fixed;padding-top:70px;padding-bottom:90px;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;}
.inspired-iceland-section h2{color:#fff;font-size:51px;padding-bottom:50px;}
.inspired-iceland-section .lefter{padding-left:30px;width:430px;float:left;color:#fff;font-size:18px;line-height:25px;margin-top:-7px;}
.inspired-iceland-section .lefter p{margin-top:0px;margin-bottom:20px;font-size:18px;line-height:25px;}
.inspired-iceland-section .righter{width:500px;float:right;}
.inspired-iceland-section .button{background-color:#559fd3;height:40px;line-height:40px;font-size:14px;}
.inspired-iceland-section .button:hover{background-color:#3e89bd;}

/*Latest tweet section -------------------------------------*/
.latest-tweet-section{background:#e58919;}
.latest-tweet-section .site-block{background:url(/images/tw-big.png) no-repeat left top;padding-top:19px;padding-bottom:15px;}
.latest-tweet-section h2{float:left;padding-left:140px;width:120px;color:#8a5508;font-size:26px;line-height:21px;text-align:right;}
.detailed-tweet{float:left;;color:#fff;font-size:17px;width:696px;padding-top:33px;padding-left:15px;}
.detailed-tweet span{color:#8a5508;font-size:14px;}
.detailed-tweet a{color:#8a5508;}

/*Events section --------------------------------------------*/
.events-section .title{padding-left:35px;background:url(/images/y-2013.png) no-repeat left center;margin-top:52px;margin-bottom:36px;}
.events-section .title .small{font-size:48px;color:#fff;line-height:45px;font-weight:normal;}
.events-section .title .big{font-size:66px;color:#00a1d6;line-height:45px;font-weight:bold;}

/*Slider*/
.events-slider{background:url(/images/event-bg-rep.png) repeat-x left top;padding:7px 0;position:relative;}
.events-slider li{float:left;}
.events-slider li:last-child{margin-right:0px;}
.events-slider .date{width:45px;float:left;margin-right:9px;text-align:center;padding-top:0px;}
.events-slider .day{font-size:40px;font-weight:bold;color:#00a0d6;line-height:32px;display:block;}
.events-slider .month{font-size:24px;color:#605f5c;line-height:20px;display:block;font-weight:bold;}
.events-slider .year{font-size:20px;color:#605f5c;line-height:16px;display:block;}
.events-slider .name{font-weight:bold;color:#303030;font-size:15px;line-height:16px;margin:0;font-weight:500;}
.events-slider .time{font-size:12px;color:#303030;margin:0;margin-bottom:10px;font-weight:500;}
.events-slider .text{margin:0;font-size:12px;color:#303030;line-height:14px;}

/*Slider*/
.jcarousel-container{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.events-slider .jcarousel-container{position:static !important;}
.jcarousel-container .jcarousel-container-horizontal{width:990px;}
.jcarousel-container .jcarousel-clip{overflow:hidden;}
.event-skin .jcarousel-clip-horizontal{width:990px;height:255px;}
.event-skin .jcarousel-item{width:215px;height:70px;padding-right:45px;}
.event-skin .jcarousel-item:hover{cursor:pointer;}
.event-skin .jcarousel-item-horizontal{margin-left:0;}
.jcarousel-container .jcarousel-next-horizontal{position:absolute;top:50%;margin-top:-20px;right:3%;width:16px;height:41px;cursor:pointer;background:transparent url(/images/next-2.png) no-repeat center center;}
.jcarousel-container .jcarousel-prev-horizontal{position:absolute;top:50%;margin-top:-20px;left:3%;width:16px;height:41px;cursor:pointer;background:transparent url(/images/prev-2.png) no-repeat center center;}

/*Event popup*/
.event-lightbox{box-shadow:0 0 15px #000;border-radius:4px;position:relative;}
.event-popup{width:440px;background:#fff;border-radius:4px;}
.popup-gallery-fader{width:440px;height:220px;position:relative;border-radius:4px 4px 0 0;overflow:hidden;}
.popup-gallery-fader img{position:absolute;left:0px;top:0px;border-radius:4px 4px 0 0;}
#event-popup .map-holder{width:100%;height:150px;background:#c9c9c9;}
#event-popup .popup-gallery-fader img{background-size:cover;padding-right:440px;padding-bottom:205px;background-position:center center;}
.popup-gallery-fader .prev,.popup-gallery-fader .next{display:inline-block;width:30px;height:30px;position:absolute;top:50%;margin-top:-15px;cursor:pointer;z-index:1105;}
.popup-gallery-fader .prev{background:url(/images/arrow-left.png) no-repeat center center;left:3%;}
.popup-gallery-fader .next{background:url(/images/arrow-right.png) no-repeat center center;right:3%;}
.event-popup .inner{padding:15px;padding-top:7px;}
.event-popup h5{text-align:center;font-size:32px;color:#6d6d6d;margin-top:0;margin-bottom:0px;}
.event-popup h6{text-align:center;color:#6d6d6d;font-size:15px;margin-top:0px;margin-bottom:16px;}
.event-popup .event-details{border-top:1px solid #a6a49f;padding-top:3px;}
.event-popup .day,
.event-popup .time{display:inline-block;line-height:26px;padding-left:23px;padding-right:17px;font-size:14px;color:#559fd3;}
.event-popup .day{border-right:1px solid #a6a49f;margin-right:8px;background:url(/images/day-ico.png) no-repeat 0px 7px;}
.event-popup .time{background:url(/images/time-ico.png) no-repeat 7px 7px;}
.event-popup .info{border-top:1px solid #a6a49f;margin-top:3px;font-size:14px;color:#333;line-height:18px;padding-left:23px;background:url(/images/text-ico.png) no-repeat 0px 10px;padding-top:4px;margin-bottom:6px;}
.event-popup .info a{color:#559FD3;}
.event-popup .info a:hover{color:#86C543;}
.event-popup .map-wrap{position:relative;}
.map-wrap .map-tooltip{position:absolute;left:114px;top:30px;background:#fff;border:1px solid #a6a49f;box-shadow:0 0 6px #d2d1cf;padding:8px 5px;padding-top:6px;font-size:12px;color:#333;width:200px;text-align:center;}
.map-tooltip .nip{display:inline-block;position:absolute;width:12px;height:11px;background:url(/images/nip-map.png) no-repeat left top;bottom:-11px;left:50%;margin-left:-6px;}
.map-tooltip p{margin:0;}
.map-tooltip .title{color:#559fd3;font-size:14px;font-weight:bold;}
.event-popup .popup-bottom{padding:12px;padding-left:38px;padding-top:14px;padding-bottom:14px;}
.event-lightbox #fancybox-close{top:auto;bottom:3px;right:13px;color:#a6a49f;background-image:url(/images/close-2.png);}
.button-ticket{background:#559fd3 url(/images/ticket-ico.png) no-repeat right center;padding-right:58px;font-size:12px;height:35px;line-height:35px;border-radius:4px;position:relative;}
.no-js .button-ticket:hover,.button-ticket.hovered{background-color:#366382;}

/*Join club section --------------------------------------------*/
.join-club-section .lefter{float:left;width:52%;}
.join-club-section .righter{float:right;width:47%;padding-top:0px;}
.join-club-section .righter h2{margin-bottom:22px;}
.join-club-section h2{font-weight:normal;font-size:34px;line-height:26px;margin:0;}
.join-club-section h2 strong{font-weight:500;color:#559fd3;}
.join-club-section h2 .grey{color:#6d6d6d;}
.join-club-section .subtitle{margin:0;font-size:17px;}
.join-club-section .title h2{float:left;padding-right:5px;font-size:35px;line-height:28px;}
.join-club-section .title .subtitle{float:left;line-height:19px;font-size:21px;}
.subscribe-form{padding-top:24px;}
.subscribe-form input[type='text']{width:220px;margin-right:6px;padding:12px 16px;border:1px solid #a6a49f;}
.subscribe-form .ui-selectmenu{margin-right:6px;border:1px solid #a6a49f;}
.subscribe-form input[type='submit']{background-color:#559fd3;width:100px; text-align: center; height: 46px; line-height: 46px;}
.no-js .subscribe-form input[type='submit']:hover,.subscribe-form input[type='submit'].hovered,
.content-page .subscribe-form input[type='submit']:hover,
.blog-page .subscribe-form input[type='submit']:hover{background-color:#2978b0;}
.subscribe-form .explain{padding-top:15px;padding-left:6px;width:430px;}
.social-links a{display:inline-block;width:24px;height:24px;margin-right:5px;margin-bottom:5px;background:url(/images/social.png) no-repeat left top;}
.no-js .social-links a:hover,.social-links a.hovered,
.content-page .social-links a:hover,
.blog-page .social-links a:hover{opacity:0.8;}
.social-links .ico-fb{background-position:left top;}
.social-links .ico-gp{background-position:-24px top;}
.social-links .ico-tw{background-position:-48px top;}
.social-links .ico-in{background-position:-72px top;}
.social-links .ico-pi{background-position:left -24px;}
.social-links .ico-fl{background-position:-24px -24px;}
.social-links .ico-vi{background-position:-48px -24px;}
.social-links .ico-yt{background-position:-72px -24px;}

/*Latest news section*/
.latest-news-section{background:#fff;padding-top:30px;padding-bottom:60px;}
.latest-news-section h2{font-size:51px;color:#a6a49f;margin-bottom:44px;}
.latest-news-section h2 strong{color:#86c543;}
.latest-news-section .col{width:49.5%;margin-right:1%;float:left;}
.latest-news-section .col:last-child{margin-right:0;}
.latest-news-item{margin-bottom:50px;position:relative;padding-left:80px;}
.latest-news-item:last-child{margin-bottom:0;}
.latest-news-item img{margin-bottom:12px;}
.latest-news-item h3{font-size:36px;color:#333;margin-top:0;}
.latest-news-item h3 a{color:#333;}
.latest-news-item h3 a:hover{color:#86C543;}
.latest-news-item p{font-size:14px;line-height:20px;}
.latest-news-item p a{color:#86c543;text-decoration:none;}
.latest-news-item .latest-news-item__author{font-size:12px;margin-bottom:0px;}
.latest-news-item__date{position:absolute;left:0px;top:0px;background:#86c543;color:#fff;text-align:center;border-bottom:60px solid #e5e5e5;font-size:20px;line-height:20px;text-transform:uppercase;width:60px;padding-top:3px;padding-bottom:8px;}
.latest-news-item__date span{font-size:42px;line-height:42px;font-weight:bold;display:block;}

/*Contact info section --------------------------------------------*/
.contact-info-section .label{width:150px;float:left;font-size:31px;}
.contact-info-section .label .big{display:block;font-size:105px;font-weight:bold;line-height:94px;}
.contact-info-section .info-text{line-height:30px;padding-top:42px;}

/*Contact form section --------------------------------------------*/
.contact-form-section .contact-form{float:left;width:53%;}
.contact-form-section .contact-info{float:right;width:29%;padding-top:4%;padding-right:9%;font-size:16px;}
.contact-form-section .contact-info a{color:#00a0d6;}
.no-js .contact-form-section .contact-info a:hover,.contact-form-section .contact-info a.hovered{color:#9FD43C;}
.contact-form-section .contact-info .small{margin-bottom:20px;font-size:14px;line-height:16px;}
.contact-form-section .contact-info p{line-height:22px;}
.contact-form-section .contact-info h3{margin:4px 0;}
.contact-form-section textarea{height:154px;resize:none;}
.contact-form input[type="text"],
.contact-form input[type="password"],
.contact-form textarea{padding:13px 16px;}
.contact-form .ui-selectmenu{float:right;}
.contact-form .form-controls{text-align:right;}
.contact-form .button{width:100px;background-color:#a8a6a0;height:35px;line-height:35px;font-size:14px;}
.no-js .contact-form .button:hover,.contact-form .button.hovered{background-color:#605f5c;}

/*Help section --------------------------------------------*/
.help-section{text-align:center;}
.help-section h2{margin:0;font-weight:normal;font-size:51px;}
.help-section h3{margin:0;font-size:28px;line-height:30px;}
.help-section h3 a{font-weight:bold;}

/*Team section --------------------------------------------*/
.team-section .title{padding-top:50px;}
.team-section .title h2{float:left;margin:0;font-size:80px;text-align:right;text-transform:uppercase;font-weight:normal;line-height:59px;padding-right:12px;}
.team-section h2 strong{color:#e8a357;}
.team-section .title .subtitle{float:left;width:250px;margin-top:80px;font-size:19px;line-height:20px;}
.team-section h3{text-align:center;font-size:19px;margin:35px 0;margin-bottom:27px;font-weight:normal;}
.team-list .element{position:relative;width:30%;/*height:290px;*/ float:left;margin-right:3%;margin-bottom:22px;overflow:hidden;}
.team-list .element:nth-child(3n){margin-right:0;}
.team-list .element img{width:100%;height:auto;}
.team-list .cover{padding:20px 15px;background:url(/images/name-bg.png);}
.team-list .name{font-size:16px;font-weight:500;}
.team-list .position{font-size:14px;}

/*Inner pages -----------------------------------------------------------------------------------------------------*/
.inner-site-header{height:auto;}
.inner-site-header .site-block-in{height:50px;position:relative;}
.inner-site-header .logo{margin-top:0;position:absolute;left:-18px;top:2px;}
.inner-top-menu{position:absolute;left:155px;top:20px;}
.inner-top-menu li{float:left;margin-right:20px;}
.inner-top-menu a{color:#fff;font-size:16px;}
.inner-top-menu a:hover{color:#86C543;}
.package-list-page .inner-home-section{background:url(/images/inner-header-1.jpg) no-repeat fixed center top;position:relative;-webkit-background-size:auto 250px;-moz-background-size:auto 250px;-o-background-size:auto 250px;background-size:auto 250px;}
.inner-home-section{position:relative;height:250px;overflow:hidden;background:url(/images/content-bg.jpg) no-repeat fixed center top;position:relative;-webkit-background-size:auto 250px;-moz-background-size:auto 250px;-o-background-size:auto 250px;background-size:auto 250px;}
.inner-home-section h1{color:#fff;font-size: 36px;line-height:55px;text-align:center;padding-top:113px;padding-bottom:21px;margin:0;position:relative;z-index:9;}
.inner-home-section h1 strong{font-weight:400;}
.inner-home-section .grid{background:url(/images/grid.png);width:100%;height:100%;position:absolute;left:0;top:0;right:0;bottom:0;}
.package-info-section{background:#e5e5e5;color:#605f5c;text-align:center;}
.package-info-section .site-block{padding-top:23px;padding-bottom:29px;}
.package-info-section h2{font-size:36px;}
.package-info-section p{font-size:20px;}
.package-info-section p strong{font-weight:500;}
.sidebar-content-section{background:#fff;}
.sidebar-content-section .site-block{padding:15px 0;padding-bottom:5px;}
.sidebar-content-section .left-content{width:197px;float:left;}
.sidebar-content-section .main-content{width:730px;float:right;margin-right:49px;}

/*Travel packages*/
.search-preferences-section{background:#fff;border-bottom:3px solid #d5af37;text-align:center;font-size:20px;padding-top:21px;padding-bottom:21px; color: #333; line-height: 24px;}
.package-list-options > span > span{color:#d5af37;border-bottom:1px dashed #333;}
.search-preferences-section .package-list-suggestion {margin-top: 10px;}
.toggle-sibling-popup {cursor: pointer;}



/*popups in search preferences*/
.white-popup {position: absolute; margin-left: 10px; margin-top: 10px; background: #fff; border: 1px solid #a6a49f; border-radius: 3px; box-shadow: 0 0 10px rgba(0,0,0,0.35); z-index: 152;}
.white-popup .nip {position: absolute; display: inline-block; left: 80px; top: -7px; height: 7px; width: 10px; background: url(/images/white-nip-top.png) no-repeat left top; }
.white-popup label {display: block; margin-bottom: 11px;}

.input-popup input[type="text"] {padding-top: 10px; padding-bottom: 7px; font-size: 16px; width: 418px;}
.input-popup input[type="text"].numbers-input {width: 90px;}

.accommodation-popup {padding: 16px 18px; width: 230px;}
.accommodation-popup h4 {margin: 0; color: #86c543; font-size: 16px; text-transform: uppercase; padding-bottom: 10px; text-align: left;}
.accommodation-popup .col-1 {float: left; width: 92px;}
.accommodation-popup .col-2 {float: right; width: 125px;}



.package-list-suggestion{padding-top:0px;padding-bottom:25px;text-align:center;font-size:18px; color: #333;}
.package-list-suggestion > span{color:#d5af37;border-bottom:1px dashed #333;}
.package-list-suggestion span span {cursor: pointer;}
.travel-package-block{position:relative;}
.travel-package-block .package-desc{background:#fff;padding:13px 15px;position:relative;height:130px;overflow:hidden;}
.package-desc,.package-desc p{line-height:20px;font-size:13px;}
.package-desc p:first-child{margin-top:0;}
.package-desc p:last-child{margin-bottom:0;}
.package-desc .lefter{width:320px;float:left;}
.package-desc .righter{width:120px;float:right;}
.package-desc .righter p {margin-top: 2px;}
.package-desc h3{font-weight:600;color:#d5af37;margin-top:0; margin-bottom: 0; font-size: 12px;}
.description-cover{background:#d5af37;color:#fff;position:absolute;left:0px;bottom:0px;right:0px;height:0;overflow:hidden;z-index:6;-moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s;height:0px;}
.travel-package-block:hover .description-cover{-moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s;height:156px;}
.description-cover p{margin:0;padding-bottom:36px;background:url(/images/eye-ico.png) no-repeat center bottom;text-align:center;padding-top:56px;font-size:20px;}
.travel-package-block .plan-price{font-size:20px;color:#333; padding-top: 6px;}
.travel-package-block .plan-price strong{font-weight:500;}
.travel-package-block .plan-price .big-text{font-size:20px;}
.travel-package-block .plan-days{position:absolute;background:url(/images/brown-bg.png);color:#fff;font-size:18px;padding:0 16px;line-height:40px;position:absolute;left:20px;top:15px;z-index:150;}
.travel-blocks-2{margin-bottom:10px;}
.travel-blocks-2 .default-image-slide{width:490px;height:310px;}
.travel-blocks-2 .travel-package-block{width:490px;float:left;margin-right:10px;}
.travel-blocks-2 .travel-package-block:last-child{margin-right:0;}
.travel-blocks-3{margin-bottom:10px;}
.travel-blocks-3 .default-image-slide{width:320px;height:310px;}
.travel-blocks-3 .travel-package-block{width:320px;float:left;margin-right:10px;}
.travel-blocks-3 .travel-package-block:last-child{margin-right:0;}
.travel-blocks-3 .lefter{float:none;padding-bottom:0px;width:auto;}
.travel-blocks-3 .righter{float:none;padding-right:125px;}
.travel-blocks-3 .plan-price{position:absolute;width:113px;right:15px;bottom:12px;z-index:5;font-size:14px;}
.travel-blocks-3 .package-desc{height:224px;}
.travel-blocks-3 .travel-package-block:hover .description-cover{height:250px;}
.travel-blocks-3 .description-cover p{padding-top:95px;}
.destination-popup-section{position:absolute;right:0px;left:0px;z-index:165; display: none; margin-top: -43px;}
.destination-popup-section .destination-section__title{color:#fff;background:#d5af37;}
.destination-popup-section .destination-section__close{background-image:url(/images/destination-close-2.png); border-bottom: none;}
.more-travel-plans{text-align:center;padding-top:35px;font-size:16px;text-transform:uppercase;padding-bottom:15px;}
.more-travel-plans a{color:#a6a49f;}
.more-travel-plans a:hover{text-decoration:underline;}
.more-travel-plans strong{font-weight:500;}

.site-cover-for-map {position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; background: #000; opacity: 0.7; z-index: 160; width: 100%; height: 100%; display: none;}

/*Default image slider*/
.default-image-slider{position:relative;}
.default-image-slider .slide-title{position:absolute;left:0px;bottom:0px;right:0px;background:url(/images/top-menu-grad.png);color:#fff;padding:6px 10px;font-size:10px;text-align:right;}
.default-image-slider .slide-title a{color:#fff;text-decoration:underline;}
.default-image-slider .slide-title a:hover{text-decoration:none;}
.image-slider-left,
.image-slider-right{position:absolute;width:37px;height:48px;background:url(/images/gallery-arrows-2.png) no-repeat left top;top:50%;margin-top:-24px;z-index:150;cursor:pointer;}
.image-slider-left{left:0;}
.image-slider-left:hover{background-position:left bottom;}
.image-slider-right{background-position:right top;right:0;}
.image-slider-right:hover{background-position:right bottom;}

.image-slider-location .slide-title {border-top: 1px solid #000; padding: 11px 18px;}
.image-slider-location .photo-title {font-size: 13px; line-height: 18px;}
.image-slider-location .photo-author {padding-left: 22px; background: url(/images/photo-ico.png) no-repeat left center;}


/*Alignments*/
.first .big{font-size:38px;line-height:40px;}
.align-middle .title{top:30%;}
.align-left .title,
.align-left .price{left:15px;right:auto;text-align:left}
.align-right .title,
.align-right .price{right:15px;left:auto;text-align:right;}

.questions-suggestions-section{background:#8d8d8c;text-align:center;}
.questions-suggestions-section .site-block{padding-top:30px;padding-bottom:40px;}
.questions-suggestions-section h2{font-size:36px;color:#e8e8e8;margin:0;margin-bottom:30px;}
.double-buttons{position:relative;}
.double-buttons .button{margin:0;background:none;border-radius:0;padding-left:0px;padding-right:0px;width:150px;text-align:center;font-size:14px;height:36px;line-height:36px;font-weight:400;}
.double-buttons .button-orange{background:#e58919;color:#fff;}
.double-buttons .button-grey{background:#e5e5e5;color:#333333;}
.double-buttons .or{position:absolute;width:20px;line-height:16px;height:20px;border-radius:10px;color:#333333;background:#fff;left:50%;margin-left:-10px;top:50%;margin-top:-10px;}

/*Simple section --------------------------------------------*/
.simple-section{background:#fff;border-bottom:1px solid #ddd;}
.simple-section .site-block{padding:65px 0;}
.simple-section img.fr{margin-left:53px;}
.simple-section h2{margin-top:0;margin-bottom:15px;font-size:48px;color:#86c543;}
.simple-section p,.post-content p{font-size:14px;color:#333;line-height:22px;margin-bottom:25px;}
.simple-section p:last-child{margin-bottom:0px;}
.content-page .inner-home-section h1{padding-bottom:73px;padding-top:120px;}

/*Testimonials*/
.testimonials-list .element{width:300px;float:left;margin-right:22px;margin-bottom:35px;}
.testimonials-list .baloon{height:118px;padding:0 15px;background:#e5e5e5;border-radius:4px;font-family:Georgia;font-style:italic;font-weight:bold;position:relative;margin-bottom:23px;}
.testimonials-list .nip{display:inline-block;position:absolute;background:url(/images/testimonials-nip.png) no-repeat left top;width:20px;height:13px;bottom:-13px;left:29px;}
.testimonials-list .avatar{float:left;border:3px solid #e5e5e5;margin-right:12px;}
.testimonials-list .name{font-size:14px;color:#86c543;margin:0;margin-bottom:0px;font-weight:400;margin-bottom:5px;}
.testimonials-list .company{font-size:14px;color:#333333;line-height:22px;margin:0;line-height:16px;}
.testimonials h2{color:#333;margin-bottom:40px;}
.testimonials h2 strong{color:#86c543;font-weight:400;}
.testimonials .centering{width:100%;}
.testimonials .centering td{vertical-align:middle;height:118px;color:#333;font-size:14px;}

/*blog section --------------------------------------------*/
.blog-section{background:#fff;}
.blog-section .site-block{padding:80px 0;}
.blog-page .inner-home-section h1{padding-bottom:73px;padding-top:120px;}
.blog-left{width:670px;float:left;}
.blog-side{width:254px;float:right;padding-top:10px;padding-right:43px;}
.blog-search{border:1px solid #a6a49f;border-radius:3px;margin-bottom:28px;}
.blog-search input[type="text"]{float:left;font-size:16px;color:#a6a49f;padding-left:19px;width:180px;float:left;}
.blog-search input[type="submit"]{width:36px;background:url(/images/search-ico.png) no-repeat center center;border:none;height:38px;float:right;}
.blog-left .article{padding-bottom:40px;margin-bottom:60px;border-bottom:1px solid #ddd;}
.blog-left .article.last{margin-bottom:30px;}
.article h2{margin-top:0;margin-bottom:6px;font-size:48px;color:#86c543;}
.article .post-info{color:#a6a49f;margin-bottom:18px;}
.article .post-info strong{color:#333333;font-weight:400;}
.article h2 a:hover,
.article .post-info a:hover,
.blog-side a:hover{color:#53762b;}
.blog-left .paginator{font-size:14px;color:#a6a49f;}
.paginator p{margin-right:150px;margin-left:150px;}
.paginator .button{font-size:14px;height:40px;line-height:40px;background-color:#86c543;font-weight:400;width:90px;}
.paginator .button:hover{background-color:#53762b;}

/*Social widget*/
.blog-side .social-block{padding-left:68px;background:url(/images/xp-ico.png) no-repeat left top;min-height:57px;}
.blog-side .social-block .name{font-size:16px;font-weight:400;color:#333333;margin-bottom:11px;padding-top:2px;}
.blog-side .links a{display:inline-block;float:left;margin-right:11px;}
.blog-side h3{font-size:24px;color:#a6a49f;margin-top:0;padding-bottom:15px;border-bottom:1px solid #a6a49f;margin-bottom:10px;margin-top:31px;}
.blog-side h3 strong{font-weight:400;}

/*Recent widget*/
.block-recent li{margin-bottom:15px;font-size:14px;}
.block-recent .comments{color:#a6a49f;font-size:12px;display:inline-block;padding-left:4px;}

/*Topics widget*/
.block-topics h3{margin-top:22px;}
.block-topics li{font-size:14px;margin-bottom:2px;}

/*Photo widget*/
.block-photo h3{margin-top:21px;}
.block-photo a{float:left;}

/*Video widget*/
.block-video h3{margin-top:21px;}
.video-wrap{display:inline-block;position:relative;}
.video-wrap .play{display:inline-block;position:absolute;width:76px;height:50px;background:url(/images/widget-play.png) no-repeat left top;left:50%;top:50%;margin-left:-38px;margin-top:-25px;}

/*Footer section --------------------------------------------*/
.footer-section h4{font-size:51px;font-weight:normal;margin-top:0;margin-bottom:14px;}
.footer-section .col{width:37%;float:left;margin-right:1%;}
.footer-section .col-2{width:40%;}
.footer-section .col-2 a{color:#333;}
.footer-section .col-2 a:hover{color:#fff;}
.footer-section .col-3{width:18%;text-align:left;margin-right:0;}
.footer-section p{line-height:18px;}
.footer-section a{color:#fff;}
.no-js .footer-section a:hover,.footer-section a.hovered{color:#ccc;}
.footer-section strong{font-weight:500;}
.footer-section sup{font-size:12px;}
.footer-section p .grey{font-weight:400;color:#333;}
.footer-section .chat-ico{display:block;padding-left:40px;font-size:18px;padding-top:16px;padding-bottom:13px;background:url(/images/chat-ico.png) no-repeat left center;}
.footer-links{padding-top:9px;width:280px;}
.footer-links a{width:44%;display:block;float:left;font-size:16px;color:#fff;margin-bottom:9px;}
.footer-links a:nth-child(2n){width:56%;}
.footer-links a:hover{color:#333;}
.partners{padding-top:15px;width:170px;text-align:center;padding-left:6px;}
.partners p{margin-top:0;margin-bottom:32px;}
.partners .payments{padding-top:17px;margin-bottom:0;}
.partners a{display:inline-block;margin-right:15px}
.partners a img{vertical-align:top;}

/*Bottom section --------------------------------------------*/
.bottom-section{position:fixed;left:0;bottom:0;width:100%;z-index:0;visibility:hidden;height:250px;}
.inner-bottom-section{visibility:visible;}
.contacts{font-size:28px;font-weight:bold;margin-top:42px;margin-bottom:41px;}
.contacts .email{color:#00a0d6;display:inline-block;padding-right:15px;}
.contacts .email a{color:#00a0d6;}
.no-js .contacts .email a:hover,.contacts .email a.hovered{color:#a0c436;}
.contacts .phone{color:#a8a5a0;display:inline-block;padding-left:15px;}
.copyrights{font-size:14px;margin-top:20px;}
.js.no-touch .landing-page{visibility:hidden;}
#plan-inputs-container{overflow:hidden;width:0px;display:inline-block;float:left;}
#plan-inputs-container .inner{width:380px;}

/*Media gallery*/
.media-gallery{border:1px solid #5c5c5c;border-radius:4px;}
.media-gallery #fancybox-content{border-color:#363636;border-radius:4px;padding-top:30px;background:#363636;}
.media-gallery #fancybox-close{background:url(/images/media-close.png) no-repeat left top;right:1px;top:22px;width:16px;height:16px;}
.media-gallery #fancybox-left-ico, .media-gallery #fancybox-right-ico{width:60px;height:80px;margin-top:-30px;}
.media-gallery #fancybox-left-ico{background:url(/images/gallery-prev.png) no-repeat left top;}
.media-gallery #fancybox-right-ico{background:url(/images/gallery-next.png) no-repeat left top;}
.media-gallery #fancybox-left:hover span{left:19px;}
.media-gallery #fancybox-right:hover span{right:19px;}

/*Loading dialog*/
.ui-widget-overlay{opacity:1;background:rgba(0,0,0,0.75);}
.loader{position:absolute;top:0;left:0;}
.loader img{position:relative;left:45%;top:45%;z-index:1001;width:30px;height:30px;border-radius:4px;opacity:0.75;}
.loading{z-index:1001;}
.loading .qoute{font-family:'Ubuntu';color:#e58919;font-size:31px;text-align:center;font-weight:200;}
.loading .author{width:100%;font-family:'Ubuntu';font-size:19px;text-align:center;font-weight:200;color:#333333;margin-top:8px;}
.loading .spinner{width:100%;text-align:center;margin-top:30px;}
.loading .ui-dialog-titlebar{display:none;}
.loading.ui-widget-content {background:none; border:0px;}
.loading + .ui-widget-overlay{background:rgba(255,255,255,0.95);}

/*Login section----------------------------------*/
.login-section {padding-top: 40px; padding-bottom: 40px; background: #efefef;}
.login-section .site-block {width: 484px;}

.login-title {font-size: 36px; padding-bottom: 10px; padding-bottom: 42px;}
.login-title a {text-transform: uppercase;}
.login-title a.selected {color: #d6d4ce;}
.login-title a.selected:hover {color: #86c543;}

.login-section .form-row {font-size: 14px;}
.login-section label {display: block; padding-left: 4px; padding-bottom: 4px; float: none; font-size: 14px;}
.login-section input[type="text"],
.login-section input[type="password"] {width: 452px; border: 1px solid #a6a49f; padding: 10px 16px;}
.login-section .form-controls {padding-top: 6px;}
.login-section .explainer {font-size: 14px; line-height: 17px;}
.login-section .custom-checkbox {display: inline-block; padding-bottom: 0px;}


.or-block {background: url(/images/grey-dot.png) repeat-x center center; margin-top: 40px; margin-bottom: 40px; text-align: center;}
.or-block span {background: #efefef; display: inline-block; color: #a6a49f; font-size: 16px; text-transform: uppercase; padding: 0 7px;}

.login-section .fb-signup {display: block; border-radius: 3px; background: #3c5193; text-align: center; line-height: 40px; color: #fff; font-size: 15px; font-weight: 400;}
.login-section .fb-signup:hover {background: #33437a;}
.login-section .fb-signup span {display: inline-block; background: url(/images/fb-ico-2.png) no-repeat left center; padding-left: 40px; padding-right: 33px;}
.login-section .button {border: none; border-radius: 3px; height: 40px; line-height: 40px; color: #fff; background: #86c543; color: #fff; text-transform: uppercase; font-size: 14px; text-align: center; padding: 0; width: 484px;}
.login-section .button:hover {background: #53762b;}

.user-menu {float: left; padding-left: 20px; padding-top: 0px; background: url(/images/grey-line.png) no-repeat left 18px;}
.user-menu .user-avatar {float: right; margin-top: 12px;}
.user-avatar img {border: 1px solid #e5e5e5;}
.user-menu .user-name {float: right; font-size: 12px; color: #e5e5e5; line-height: 14px; margin-right: 10px; padding-left: 10px; padding-bottom: 1px; position: relative;}
.user-menu .user-messages {float: right; width: 20px; height: 14px; background: url(/images/mail-ico-grey.png) no-repeat center center; padding-left: 10px; padding-right: 10px; border-left: 1px solid #e5e5e5; margin-top: 17px;}
.user-menu .menu-item {float: right; font-size: 12px; color: #e5e5e5; line-height: 14px; padding-left: 10px; padding-bottom: 1px; position: relative; background: url(/images/grey-line.png) no-repeat left 18px;}
.user-menu .has-submenu {display: inline-block; line-height: 46px; padding-right: 16px; background: url(/images/arrow-down-grey.png) no-repeat right 22px; cursor: pointer}
.user-submenu {position: absolute; border: 1px solid #a6a49f; border-radius: 3px; background: #fff; right: 0px; top: 47px; display: none; box-shadow: 0 0 9px rgba(0,0,0,0.5)}
.submenu-parent:hover .user-submenu {display: block;}
.user-submenu li:first-child {padding-top: 7px;}
.user-submenu li:last-child {padding-bottom: 8px;}
.user-submenu .nip {display: inline-block; position: absolute; width: 11px; height: 7px; background: url(/images/white-nip-top-2.png) no-repeat left top; right: 23px; top: -7px;}
.user-submenu a {display: block; white-space: nowrap; line-height: 30px; color: #333; font-size: 13px; font-weight: 400; min-width: 88px;}
.user-submenu a:hover {color: #86c543;}
.user-submenu li {padding: 0 15px;}
.menu-item-important {text-transform: uppercase; background: #e5e5e5;}
.menu-item-important a {color: #86c543;}
.menu-item-important span {border-bottom: 1px dashed #333; display: inline-block; font-size: 14px; line-height: 18px; margin-bottom: 11px;}
.menu-item-important a:hover span {border-bottom: none; padding-bottom: 1px;}

/*Welcome section --------------------------------*/
.signup-header {height: 51px;}

.welcome-section {border-bottom: 2px solid #a6a49f; background: #fff;}
.welcome-section .site-block {padding-top: 49px; padding-bottom:36px; position: relative;}
.welcome-text {width: 873px; float: right;}
.welcome-text p {line-height: 17px; font-size: 14px; margin-bottom: 16px;}
.welcome-text p:first-child {margin-top: -4px;}
.welcome-section .close-section {display: inline-block; position: absolute; width: 34px; height: 34px; background: url(/images/close-3.png) no-repeat left top; top: -17px; right: 30px; z-index: 200;}


/*Account details section -----------------------------------*/
.account-details-section {background: #fff; padding-top: 40px; padding-bottom: 33px;}
.account-details-section .section-title {font-size: 36px; text-transform: uppercase; color: #86c543;}
.account-details-section .color {color: #cbae4a;}


/*Account menu*/
.account-menu {padding-top: 6px; padding-bottom: 48px;}
.account-menu li {float: left; margin-right: 25px;}
.account-menu a {display: inline-block; color: #a6a49f; font-size: 18px;}
.account-menu a:hover {color: #86c543;}

.account-details-section .col-1 {float: left; width: 232px;}
.account-details-section .col-2 {float: right; width: 738px;}
.account-details-section h4 {font-size: 24px; color: #333; margin-top: -9px; text-transform: uppercase; margin-bottom: 0px;}
.account-details-section .col-1 p,
.account-details-section .col-2 p {line-height: 21px; margin-top: 4px; margin-bottom: 4px;}
.account-details-section .col-1 p:first-child,
.account-details-section .col-2 p:first-child {margin-top: 0px;}
.account-details-section .col-1 p:last-child,
.account-details-section .col-2 p:last-child {margin-bottom: 0;}


.account-trips-menu {padding-bottom: 25px;}
.account-trips-menu li {float: left; margin-right: 23px; font-size: 14px;}
.account-trips-menu a {display: inline-block; color: #333;}
.account-trips-menu a:hover, .account-trips-menu .active {font-size: 14px; color: #86c543;}

.account-trip {margin-bottom: 10px;}
.account-details-section .user-name {font-size: 20px; font-weight: 400; color: #333; padding-top: 12px; padding-bottom: 1px;}
.edit-profile-link {font-size: 15px;}

.account-details-section hr {margin-top: 15px; margin-bottom: 15px; border-color: #a6a49f;}

a.verification-ico {display: block; padding-right: 50px; background: url(/images/verification-ico.png) no-repeat right center; line-height: 21px; font-size: 15px; margin-bottom: 18px;}

.verifications-menu li {padding-bottom: 14px;}
.verifications-menu a {display: block; position: relative; font-size: 12px; color: #333;}
.verifications-menu a strong {font-size: 14px; font-weight: 400;}
.verifications-menu .ico {display: inline-block; position: absolute; width: 24px; height: 24px; background: url(/images/verification-icons.png) no-repeat left top; top: 5px; right: 15px;}
.verification-gp .ico {background-position: left -24px;}
.verification-in .ico {background-position: left -48px;}
.verification-mail .ico {background-position: left -72px;}

.trip-media {float: left; position: relative; width: 232px;}
.trip-media-days {position: absolute; left: 0px; top: 0px; right: 0px; padding: 7px 15px; background: #bea443; color: #fff; font-size: 18px;}
.trip-media-days strong {font-weight: 400;}
.trip-media .nip {position: absolute; width: 8px; height: 16px; background: url(/images/sand-nip.png) no-repeat left top; right: -8px; top: 12px;}
.trip-description {background: #f4f4f3; width: 506px; float: right; font-size: 14px;}
.trip-description p {margin-bottom: 8px;}
.trip-description .lefter {width: 310px; padding: 9px 16px; float: left; position: relative; padding-bottom: 30px; height: 132px;}
.trip-description .righter {width: 142px; padding-right: 16px; float: right; padding-top: 9px; padding-bottom: 16px;}
.trip-description .total-price {position: absolute; left: 16px; bottom: 13px;}



/*Account invite friends section ----------------------------*/
.account-invite-friends-section {background: #f6f6f5; padding-top: 34px; padding-bottom: 42px;}
.account-invite-friends-section .section-title {font-size: 36px; text-transform: 36px; padding-bottom: 1px; color: #333;}
.account-invite-friends-section .section-subtitle {font-size: 18px; color: #333; margin: 0; margin-bottom: 17px;}
.account-invite-friends-section .button {background: #605f5c; height: 40px; line-height: 40px; text-align: center; font-size: 14px; padding-left: 27px; padding-right: 27px;}
.account-invite-friends-section .button:hover {background: #333;}


/*Account profile section ------------------------------------*/
.account-profile-section {background: #fff; padding-top: 40px; padding-bottom: 1px;}
.account-profile-section .col-1 {width: 483px; float: left; margin-bottom: 41px;}
.account-profile-section .col-2 {width: 483px; float: right;}

.account-profile-section .section-title {font-size: 36px; text-transform: 36px; padding-bottom: 1px; color: #333; text-align: center;}
.account-profile-section .section-subtitle {font-size: 18px; color: #333; text-align: center; margin: 0px; margin-bottom: 15px; margin-bottom: 45px;}
.account-profile-section h3 {text-transform: uppercase; font-size: 24px; color: #333; margin-top: 0px; margin-bottom: 16px;}

.account-profile-section select {width: 481px;}
.account-profile-section label {padding-left: 4px; padding-bottom: 4px; float: none; display: block; font-size: 14px;}
.account-profile-section input[type="text"],
.account-profile-section input[type="password"] {border: 1px solid #a6a49f; padding: 10px 16px; width: 449px;}
.account-profile-section input[type="text"]:focus,
.account-profile-section input[type="password"]:focus {border-color: #86c543;}

.account-profile-section input[type="submit"].button {padding-right: 10px; font-size: 14px; height: 40px; line-height: 40px; background: #86c543; padding: 0 32px;}
.account-profile-section input[type="submit"].button:hover {background: #53762b;}

.account-profile-section .ui-selectmenu {border: 1px solid #a6a49f;}
.account-profile-section .form-controls {padding-top: 6px;}


.ui-selectmenu-menu .ui-widget {border: 1px solid #a6a49f;}
.ui-selectmenu-menu .ui-corner-bottom {border-top: none;}

.upload-info p {font-size: 14px; line-height: 18px; margin-top: 0; margin-bottom: 3px;}
.upload-info p:first-child {margin-top: -5px;}
.upload-info strong {font-size: 16px; font-weight: 400;}
.upload-info .button {padding: 0 19px; height: 40px; line-height: 40px; font-size: 14px; background: #333; margin-top: 14px;}
.upload-info .button:hover {background: #030300;}
.account-photo-upload {padding-left: 4px;}
.account-photo-upload img {margin-right: 22px; float: left;}
.account-photo-upload .upload-info {float: left; width: 345px; padding-top: 14px;}



/*Account travel credits section -----------------------------*/
.account-travel-credits-section {background: #f2f1f1; padding-top: 31px; padding-bottom: 50px;}
.account-travel-credits-section hr {margin-top: 25px; margin-bottom: 14px; border-color: #a6a49f;}
.account-travel-credits-section .section-title {font-size: 36px; text-transform: 36px; padding-bottom: 5px; color: #333; text-align: center; padding-bottom: 65px;}
.account-travel-credits-section h2 {font-size: 24px; text-align: center; color: #333; margin-bottom: 15px;}

.account-travel-credits-section .button {padding: 0 32px; background: #86c543; height: 40px; line-height: 40px; background: #86c543; font-size: 14px;}
.account-travel-credits-section .button:hover {background: #53762b;}
.account-travel-credits-section .col-1,
.account-travel-credits-section .col-2 {width: 483px; color: #333;}
.account-travel-credits-section .col-1 {float: left;}
.account-travel-credits-section .col-2 {float: right;}

.account-travel-credits-section .col-1 p,
.account-travel-credits-section .col-2 p {font-size: 14px; line-height: 21px; margin-top: 21px; margin-bottom: 21px;}

.account-travel-credits-section .col-1 p:first-child,
.account-travel-credits-section .col-2 p:first-child {margin-top: 0;}

p.indent {padding-left: 37px;}

.credits-block {font-size: 24px; text-transform: uppercase; color: #333; padding-bottom: 13px;}
.credits-block strong {font-size: 36px; font-weight: 700;}

.account-travel-credits-section .white-info-block {background: #fff; padding: 15px; margin-top: 27px; padding-bottom: 19px;}
.white-info-block h5 {margin: 0; font-size: 18px; font-weight: 400;}
.white-info-block p {margin: 0; font-size: 14px; line-height: 21px;}


/*Account bookmarks section -----------------------------*/
.account-bookmarks-section {background: #e9e8e7; padding-top: 40px; padding-bottom: 29px;}
.account-bookmarks-section .section-title {font-size: 36px; text-transform: 36px; padding-bottom: 7px; color: #333; text-align: center; padding-bottom: 12px;}

/*Bookmarks menu*/
.bookmarks-menu {text-align: center; margin-bottom: 50px; font-size: 14px; padding-bottom: 2px; border-bottom: 1px solid #d8d7d5; }
.bookmarks-menu li {display: inline-block; padding: 0 10px;}
.bookmarks-menu a {display: inline-block; color: #333;}

.bookmark-item {width: 232px; float: left; margin-right: 20px; margin-bottom: 20px; position: relative;}
.bookmark-item:nth-child(4n) {margin-right: 0;}
.bookmark-details {background: #fff; color: #333; padding: 10px 12px; height: 160px; overflow: hidden;}
.bookmark-details .bookmark-name {font-size: 24px; line-height: normal; margin-top: 4px;}
.bookmark-details .bookmark-desc {font-size: 14px; line-height: 21px;}
.bookmark-cover {background: #86c543; color: #fff; position: absolute; left: 0px; bottom: 0px; right: 0px; height: 0px; overflow: hidden; font-size: 14px; -moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s;}
.bookmark-item:hover .bookmark-cover {height: 180px; -moz-transition:height .3s;-ms-transition:height .3s;-o-transition:height .3s;-webkit-transition:height .3s;transition:height .3s;}
.bookmark-cover p {padding: 6px 10px; text-align: center; font-size: 18px;}
.bookmark-cover a {display: inline-block; position: absolute; top: 106px; width: 32px; height: 18px;}
.bookmark-cover .white-page-ico {left: 36px; background: url(/images/add-page-white-ico.png) no-repeat center center;}
.bookmark-cover .white-link-ico {left: 100px; background: url(/images/link-white-ico.png) no-repeat center center;}
.bookmark-cover .white-popout-ico {left: 165px; background: url(/images/popup-white-ico.png) no-repeat center center;}


/*Account invoices section -----------------------------*/
.account-invoices-section {background: #fff; padding-top: 40px; padding-bottom: 40px;}
.account-invoices-section .section-title {font-size: 36px; text-transform: 36px; padding-bottom: 32px; color: #333; text-align: center; padding-bottom: 12px;}

.invoice-table {width: 100%;}
.invoice-table td,
.invoice-table th {padding: 5px; padding-right: 10px;}
.invoice-table td:last-child,
.invoice-table th:last-child {padding-right: 0;}
.invoice-table th {font-size: 14px; text-align: left; font-weight: 300;}
.invoice-table td {font-size: 14px;}
.invoice-table img {vertical-align: middle;}


.download-invoice-ico {display: inline-block; line-height: 14px; padding-left: 18px; background: url(/images/page-ico.png) no-repeat left 2px;}
.download-invoice-ico:hover {color: #53762b;}


/*Account invite friends 2 section -----------------------------*/
.account-invite-friends-2-section {background: #333; padding-top: 34px; padding-bottom: 42px;}
.account-invite-friends-2-section .section-title {font-size: 36px; text-transform: 36px; padding-bottom: 1px; color: #fff;}
.account-invite-friends-2-section .section-subtitle {font-size: 18px; color: #fff; margin-top: 0px; margin-bottom: 17px;}

.account-invite-friends-2-section .button {line-height: 40px; height: 40px; padding: 0 32px; background: #86c543; font-size: 14px; margin: 0 10px;}
.account-invite-friends-2-section .button:hover {background: #53762b;}
.account-invite-friends-2-section .button-fb {background: #3c5193 url(/images/fb-button-ico-2.png) no-repeat left center; padding-left: 63px;}
.account-invite-friends-2-section .button-fb:hover {background: #3e527a url(/images/fb-button-ico-2.png) no-repeat left center;}
.account-invite-friends-2-section .button-tw {background: #37a7df url(/images/tw-button-ico.png) no-repeat left center; padding-left: 63px;}
.account-invite-friends-2-section .button-tw:hover {background: #2e8ab6 url(/images/tw-button-ico.png) no-repeat left center;}


/*Account invite friends 2 section -----------------------------*/
.sight-correction-section {background: #fff; padding-top: 40px; padding-bottom: 47px;}
.sight-correction-section .section-title {font-size: 36px; color: #333; padding-bottom: 11px;}
.sight-correction-section .section-subtitle {margin-top: 0; margin-bottom: 42px; font-size: 14px; line-height: 21px;}

.sight-correction-section .site-correction-form {width: 652px; float: left;}
.sight-correction-section .form-row {margin-bottom: 14px;}
.sight-correction-section .form-item {width: 238px; float: left; margin-right: 8px;}
.sight-correction-section input[type="text"],
.sight-correction-section textarea {border: 1px solid #a6a49f; width: 450px; padding-top: 10px; padding-bottom: 10px; resize: none;}
.sight-correction-section input[type="text"]:focus,
.sight-correction-section textarea:focus {border-color: #86c543;}
.sight-correction-section textarea {width: 618px; height: 181px;}
.sight-correction-section .form-item input[type="text"] {width: 204px;}
.sight-correction-section label {padding-left: 4px; padding-bottom: 4px; float: none; display: block;}
.sight-correction-section .custom-checkbox {margin-top: 5px;}
.sight-correction-section .form-controls {padding-top: 15px;}

.upload-ilustartion-block {padding-top: 3px; padding-bottom: 3px; font-size: 14px;}
.upload-ilustartion-block .button {float: left; margin-right: 12px;}
.upload-ilustartion-block p {margin-top: 1px; margin-bottom: 4px;}

.sight-correction-section select {width: 482px;}
.sight-correction-section .ui-selectmenu {border: 1px solid #a6a49f; height: 42px;}
.sight-correction-section .ui-selectmenu-menu li a, 
.sight-correction-section .ui-selectmenu-status {line-height: 42px;}
.sight-correction-section .ui-state-default .ui-icon {top: 2px;}

.sight-correction-section .map-wrap {padding-top: 7px; padding-bottom: 17px;}
.sight-correction-section .map-wrap p {margin: 7px 0; font-size: 12px;}

.faq-list-block {width: 286px; background: #e5e5e5; padding: 20px 14px; float: right; margin-top: 58px; padding-top: 14px;}
.faq-list-block ul {margin-bottom: 20px;}
.faq-list-block h4 {margin-top: 0; font-size: 24px; margin-bottom: 15px;}
.faq-list-block li {margin-bottom: 12px; line-height: 20px;}
.faq-list-block li a {color: #333;}
.faq-list-block li a:hover {color: #86c543;}
.faq-list-block .button {display: block; text-align: center;}

