<div style="position:fixed; top:0px; left:0px; width:100%; height:100%; z-index:-1;" class="slider-container">
	<% var randomPick = Math.floor(Math.random() * country.background.length) %>
	<% _.each(country.background, function(bg, index) { %>
		<img src="<%= bg %>" <%= (index != randomPick) ? 'style="display: none"' : '' %> />
	<% }) %>
	<div class="cover-author">
		<strong>Solarfarid in Reykjavik</strong> by <a ahref="#">Anders Peter</a>
	</div>

		<style id="home-section-override" media="screen and (max-width: 960px)">
            	.home-section {background-image: url('<%= country.background[randomPick] %>');}
     	</style>
</div>
<div class="site landing-page">
	<div id="home" class="section home-section full-height-section">
	<div class="grid" style="background-image: none;"></div>
	<div class="site-header">
		<div class="location-indetify">
			<div class="site-block-in">
				<p>
					We have indentified that your country of orgin is <strong>Japan</strong>. You can change that by click on the country name on the top of the site.
				</p>
			</div>
			<span class="location-indetify__close"><br/></span>
		</div>
	  <div class="site-header__top">
	  	<div class="site-block-in clearfix">
	  		<span href="#" class="logo">
		   		<img src="images/logo.png">
		   </span>
		   <span class="logo-text">
	   			|  &nbsp;&nbsp;<em>Enrich your travel experience</em>
	   	   </span>
	   	   <span class="site-header__map-ico"><br/></span>
		   <span class="site-header__sign-in">Sign in</span>
	  	</div>
	  </div>
	  <div class="section sign-in-section">
	  	<div class="site-block-in">
		  	<form class="header-signin-form">
		  		<h2>SIGN IN <span>(Not a member? <a href="#">Sign Up</a>)</span></h2>
		  		<div class="clearfix">
		  			<a href="#" class="fb-login">Login with <img src="images/fb-text.png" alt=""/></a>
		  			<input type="text" placeholder="Your email" />
		  			<input type="password" placeholder="Password" />
		  			<input type="submit" value="Sign in" class="button" />
		  		</div>
		  		<div class="clearfix">
		  			<p class="signin-info">We never automatically post anything to your facebook or use your email</p>
		  			<div class="signin-links tar">
		  				<a href="#">Forgot your password?</a><br/>
		  				Not a member? <a href="#">Sign Up</a>
		  			</div>
		  		</div>
		  	</form>
		  </div>
	  </div>
	  <div class="site-header__bottom">
	  	<div class="clearfix site-block-in">
		  	<div class="small-main-logo fl">
	  			<img src="images/small-main-logo.png" alt=""/>
	  		</div>
		  	<ul class="menu top-menu clearfix">
		  		<li class="has-submenu">
		  	 	  <a href="#">Discover Iceland</a>
		  	 	  <div class="top-menu__submenu">
		  	 	  	<div class="top-menu__submenu-in">
			  	 	  	<div class="site-block-in">
				  	 	  	<ul class="menu clearfix">
				  	 	  		<li>
				  	 	  			<a href="#">Facts about Iceland</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Regions</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">A Country for All</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Seasons</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Nature's variety show</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Photos</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	</div>
				  	</div>
		  	 	  </div>
		  		</li>
		  		<li class="has-submenu">
		  	 	  <a href="#">Attraction</a>
		  	 	  <div class="top-menu__submenu">
		  	 	  	<div class="top-menu__submenu-in">
			  	 	  	<div class="site-block-in">
				  	 	  	<ul class="menu clearfix">
				  	 	  		<li>
				  	 	  			<a href="#">For the Children</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Highlights</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">History and Culture</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">National Parks</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Nature</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">The Highlights</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Wild Life</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Other Attractions</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	</div>
				  	 </div>
		  	 	  </div>
		  		</li>
		  		<li class="has-submenu">
		  	 	  <a href="#">To do</a>
		  	 	   <div class="top-menu__submenu submenu-cols-5">
		  	 	   		<div class="top-menu__submenu-in">
			  	 	   	  <div class="site-block-in clearfix">
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">Bicycle Rentals</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Bicycle Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Bird Watching</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Boat Rentals</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Boat Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Cave Exploring</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Day Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Diving</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">Dogsledge Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Family &amp; Fund Parks</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Fishing in Rivers &amp; Lakes</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Geothermal Baths</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Golf Courses</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Hiking Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Horse Riding Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Hunting</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">Ice Climbing</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Ice Fishing</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Jeep- &amp; Glacier Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Kayak Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Luxury Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Mini-Zoo &amp; Open farm</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Motorcycle Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Museums</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">Paintball &amp; Lasertag</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">River Rafting</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Running</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Sea Angling</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Seal Watching</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Sightseeing Flights</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Ski resorts</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Snowmobile and ATV Tours</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">Swimming Pools</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Team Building</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Valcano Tours</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Whale Watching</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Winter adventure</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	</div>
				  	 </div>
		  	 	  </div>
		  		</li>
		  		<li class="has-submenu">
		  	 	  <a href="#">Food &amp; drink</a>
		  	 	  <div class="top-menu__submenu submenu-cols-6">
		  	 	  		<div class="top-menu__submenu-in">
			  	 	   	  <div class="site-block-in clearfix">
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">American</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Asian</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Bistros</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Casual dining</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Coffee shop</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">Fast food</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Fine Dining</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">French</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">French Bistro</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Fusion</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">Grill</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Health Food</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Icelandic</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Indian</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">International</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">International</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Italian</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Lobster</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Mexican</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Oriental</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">Pizza</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Scandinavian</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Seafood</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Spanish</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Steak houses</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	  	<ul class="menu">
				  	 	  		<li>
				  	 	  			<a href="#">Sushi</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Take Away</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Tapas</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Thai</a>
				  	 	  		</li>
				  	 	  		<li>
				  	 	  			<a href="#">Vegetarian</a>
				  	 	  		</li>
				  	 	  	</ul>
				  	 	</div>
				  	 </div>
		  	 	  </div>
		  		</li>
		  		<li>
		  	 	  <a href="#">Event calendar</a>
		  		</li>
		  	</ul>
		  	<div class="site-header__selected-location fr" style="visibility: hidden;">
		  		Country of origin: <strong>Japan</strong>
		  	</div>
		  	<a href="javascript:void(0)" id="destination" class="chose-destination fr">Destinations</a>
		</div>
	  </div>
	  <div class="header-destination-section closed">
	  		<span class="destination-section__close"><br/></span>
	  		<div class="destination-section__title">
	  			<div class="destination-section__title-in">
	  				We have awesome destinations for you!
	  			</div>	
	  		</div>
	  		<div class="destination-section__map" id="map-holder">
	  			<img src="images/ex-map.jpg" style="width: 100%;" />
	  		</div>
	  </div>
	</div>
	<div class="site-block">
	  <div class="planner">
	    <h1>Enrich your <br>travel experience <br/>in <a href="#">Iceland</a></h1>
	    <h2>Tell us what your interest are</h2>
	    <form id="js-travel-planner-form" class="planner-form">
	      <div class="input-baloon">
    		<span class="nip"></span>
    		<p>
    			Tell us what your interests are , how many are travelling and how much you’d like to spend if you have decide that yet.
    		</p>
    	</div>
	      <div class="form-row">
	        <div class="hidden">
	          <input type="text" id="query" placeholder="I'd like to play golf, see whales and go horseback riding" data-tooltiptitle="What is your interest" class="autocomplete-search-input tooltip trigger-input-animation" tabIndex="1">
	          <div id="plan-inputs-container">
	            <div class="inner clearfix">
	                <span class="timeframe-view"></span>
	                <span class="guests-view"></span>
	                <span class="budget"><input tabindex="5" id="budget" type="text" placeholder="Budget" value="<%= (pref.budget && pref.budget.to > 0) ? pref.budget.to : '' %>" autocomplete="off"></input></span>
	            </div>
	          </div>
	          <input type="submit" id="plan" value="MY PLAN" class="button">
	        </div>
	      </div>
	    </form>
	    <div class="palanner-additional">
	    	<h3>Are you attending an event?</h3>
	    	<p>Not shure what to do during your free time? <a href="#">Plan your free time!</a></p>
	    </div>
	    <div class="video-button-wrap tac">
	    	<a href="#" class="button__show-video"><span>WATCH VIDEO</span></a>
	    </div>
	  </div>
	  </div>
	  <span class="prev"><br/></span><span class="next"><br/></span>
	  <span class="planer-slide-down slide-down"></span>
      <div class="menu-view" />  
	</div>
	<div class="section travel-plan-section" id="travel-plan">
		<div class="site-block clearfix">
			<h2 class="section-title">Plan your trip and get taste of the best Iceland has to offer</h2>
          	<p class="section-subtitle">Among some of the amazing deals and experiences our customers have planned for their trip.</p>
          	<div class="travel-plans-holder">
          		<div class="travel-plan-block-1">
          			<a href="#" >
          				<div class="plan-top-info">4 days/3 nights</div>
          				<img src="images/tplan-1.png" alt="" />
          				<div class="plan-cover"></div>
	          		</a>
          			<p>
          				Enjoy the bright nights, whale watching, hot springs and bathing in the amazing Blue Lagoon. Truly an unforgettable weekend in Europe’s northern most capital!
          			</p>
          			<p>
          				Total per person 158.990 ISK
          			</p>
          		</div>
          		<div class="travel-plan-block-2">
          			<a href="#" >
          				<img src="images/tplan-2.jpg" alt="" />
          				<div class="plan-top-info">KEF Airport to the Blue Lagoon</div>
          				<div class="plan-bottom-info"><span>A day tour</span> Adult: 8.900 ISK/person</div>
          				<div class="plan-cover"></div>
	          		</a>
          		</div>
          		<div class="travel-plan-block-3">
          			<a href="#" >
          				<img src="images/tplan-3.jpg" alt="" />
          				<div class="plan-top-info">11 days/10 nights</div>
						<div class="plan-cover"></div>
	          		</a>  				
          			<div class="clearfix">
          				<div class="lefter">
          					<p>Enjoy the bright nights, whale watching, hot springs and bathing in the amazing Blue Lagoon. Truly an unforgettable weekend in Europe’s northernmost capital!</p>
          					<p class="plan-price"><strong>Total</strong> per person <strong>980.990</strong> ISK</p>
          				</div>
          				<div class="righter">
          					<p>
          						<strong>Highlights:</strong><br/>
          						· Akureyri<br/>
								· Whale Watching<br/>
								· Bird Watching<br/>
								· Dettifoss<br/>
								· Ásbyrgi
          					</p>
          				</div>
          			</div>

          		</div>
          		<div class="travel-plan-block-4">
          			<a href="#" >
          				<img src="images/tplan-4.jpg" alt="" />
          				<div class="plan-top-info">The Golden Circle</div>
          				<div class="plan-bottom-info"><span>2 day trip</span> Adult: 81.600 ISK/person</div>
          				<div class="plan-cover"></div>
	          		</a>
          		</div>
          		<div class="travel-plan-block-5">
          			<h3>Need to know</h3>
          			<ul class="menu">
          				<li>
          					<a href="#">Before you go</a>
          				</li>
          				<li>
          					<a href="#">Health &amp; Safety</a>
          				</li>
          				<li>
          					<a href="#">Money &amp; Costs</a>
          				</li>
          				<li>
          					<a href="#">Shopping</a>
          				</li>
          				<li>
          					<a href="#">Tax free shopping</a>
          				</li>
          				<li>
          					<a href="#">Climate</a>
          				</li>
          				<li>
          					<a href="#">Weather/Clothing</a>
          				</li>
          				<li>
          					<a href="#">Health insurance</a>
          				</li>
          			</ul>
          		</div>
          		<div class="travel-plan-block-6">
          			<a href="#" >
	          			<img src="images/tplan-5.png" alt="" />
	          			<div class="plan-top-info">
	          				<span class="dotted">Grillmarkadurinn</span>
	          			</div>
	          			<div class="plan-cover"></div>
	          		</a>
          		</div>
          		<div class="travel-plan-block-7">
          			<a href="#" >
	          			<img src="images/tplan-6.png" alt="" />
	          			<div class="plan-top-info">
	          				<span class="dotted">Reynisdrangar</span>
	          			</div>
	          			<div class="plan-cover"></div>
	          		</a>
          		</div>
          		<div class="travel-plan-block-8">
          			<a href="#" >
          				<img src="images/tplan-7.jpg" alt="" />
          				<div class="plan-top-info">Elding Whale Watching</div>
          				<div class="plan-bottom-info"><span>2-3 hours</span> Adult: 8.000 ISK/person</div>
          				<div class="plan-cover"></div>
	          		</a>
          		</div>
          	</div>
          	<div class="tac travel-plans-bottom">
          		<a href="#">-     SHOW ME MORE SUGGESTIONS     -</a>
          	</div>
		</div>
	</div>
	<div class="section travel-options-section" id="travel-options">
		<div class="site-block clearfix">
			Before we start tell us your <span>timeframe</span> and how <span>many</span> you are travelling
		</div>
	</div>
	<div class="section favorite-theme-section">
		<div class="site-block clearfix">
			<h2>Choose your favorite theme and start planning your trip</h2>
			<h3>It’s easy, just click on the theme you like and you'll get multiple suggestions for your trip.</h3>
			<ul class="menu trip-themes-list clearfix">
				<li>
					<a href="#">
						<span class="theme-image-holder">
							<img src="images/ft-1.png" alt=""/>
						</span>
						<div class="theme-hover-text">
							<div class="theme-hover-text__in tac">
								Adventure travel
							</div>
						</div>
						<span class="theme-hover-main-text">Adventure travel</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="theme-image-holder">
							<img src="images/ft-2.png" alt=""/>
						</span>
						<div class="theme-hover-text">
							<div class="theme-hover-text__in tac">
								Best in travel
							</div>
						</div>
						<span class="theme-hover-main-text">Best in travel</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="theme-image-holder">
							<img src="images/ft-3.png" alt=""/>
						</span>
						<div class="theme-hover-text">
							<div class="theme-hover-text__in tac">
								Culture &amp; art
							</div>
						</div>
						<span class="theme-hover-main-text">Culture &amp; art</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="theme-image-holder">
							<img src="images/ft-4.png" alt=""/>
						</span>
						<div class="theme-hover-text">
							<div class="theme-hover-text__in tac">
								Family travel
							</div>
						</div>
						<span class="theme-hover-main-text">Family travel</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="theme-image-holder">
							<img src="images/ft-5.png" alt=""/>
						</span>
						<div class="theme-hover-text">
							<div class="theme-hover-text__in tac">
								Festive travel
							</div>
						</div>
						<span class="theme-hover-main-text">Festive travel</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="theme-image-holder">
							<img src="images/ft-6.png" alt=""/>
						</span>
						<div class="theme-hover-text">
							<div class="theme-hover-text__in tac">
								Food &amp; drink
							</div>
						</div>
						<span class="theme-hover-main-text">Food &amp; drink</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="theme-image-holder">
							<img src="images/ft-7.png" alt=""/>
						</span>
						<div class="theme-hover-text">
							<div class="theme-hover-text__in tac">
								Gudied tour travel
							</div>
						</div>
						<span class="theme-hover-main-text">Gudied tour travel</span>
					</a>
				</li>
				<li>
					<a href="#">
						<span class="theme-image-holder">
							<img src="images/ft-8.png" alt=""/>
						</span>
						<div class="theme-hover-text">
							<div class="theme-hover-text__in tac">
								Self drive travel
							</div>
						</div>
						<span class="theme-hover-main-text">Self drive travel</span>
					</a>
				</li>
			</ul>
		</div>		
	</div>
	<div class="section instagram-section">
		<div class="site-block clearfix">
			<div class="title">Follow us<br/> <img src="images/instagram-ico.png" alt=""/></div>
  			<div class="clearfix image-list">
  				<a href="#" class="fl">
  					<img src="images/instagram-1.png" alt=""/>
  					<div class="plan-cover"></div>
  				</a>
  				<a href="#" class="fl">
  					<img src="images/instagram-2.png" alt=""/>
  					<div class="plan-cover"></div>
  				</a>
  				<a href="#" class="fl">
  					<img src="images/instagram-3.png" alt=""/>
  					<div class="plan-cover"></div>
  				</a>
  				<a href="#" class="fl">
  					<img src="images/instagram-4.png" alt=""/>
  					<div class="plan-cover"></div>
  				</a>
  				<a href="#" class="fl">
  					<img src="images/instagram-5.png" alt=""/>
  					<div class="plan-cover"></div>
  				</a>
  				<a href="#" class="fl">
  					<img src="images/instagram-6.png" alt=""/>
  					<div class="plan-cover"></div>
  				</a>
  				<a href="#" class="fl">
  					<img src="images/instagram-7.png" alt=""/>
  					<div class="plan-cover"></div>
  				</a>
  				<a href="#" class="fl">
  					<img src="images/instagram-8.png" alt=""/>
  					<div class="plan-cover"></div>
  				</a>
  				<a href="#" class="fl">
  					<img src="images/instagram-9.png" alt=""/>
  					<div class="plan-cover"></div>
  				</a>
  			</div>
      	</div>
	</div>

	<div id="join" class="section join-club-section">
	     <div class="site-block clearfix">
	       <div class="lefter">
	         <h2>JOIN THE<br> <strong>XPERIOUS TRAVEL CLUB</strong></h2>
	         <p class="subtitle">For special offers an news. </p>
	         <form class="subscribe-form">
	           <input type="text" placeholder="Yor email address">
	           <select style="width: 120px;" class="selectmenu">
		          <option>Country</option>
		          <option>Lithuania</option>
		          <option>Latvia</option>
		          <option>Estonia</option>
		        </select>
	        <input type="submit" value="join" class="button">
	        <div class="explain">We promise not to weary you with too frequent emails. We also promise never to let any other provider have your email.</div>
	      </form>
	    </div>
	    <div class="righter clearfix">
	    	<div class="join-comunity fl">
	    		<h2>JOIN <strong class="grey">OUR</strong><br> <strong>COMMUNITY</strong></h2>
	        	<img src="images/fb-block.png" alt=""/>
	    	</div>
		     <div class="social-links fr">
		      	<h2>GET <strong class="grey">SOCIAL</strong><br> <strong>WITH US!</strong></h2>
		      	<div class="clearfix">
		      		<a href="https://www.facebook.com/xperioushq" target="_blank" class="ico-fb"><br></a>
		      		<a href="https://plus.google.com/104039607922298787666/posts" target="_blank" class="ico-gp"><br></a>
		      		<a href="https://twitter.com/xperioushq" target="_blank" class="ico-tw"><br></a>
		      		<a href="http://www.linkedin.com/company/2741740?trk=vsrp_companies_res_name&trkInfo=VSRPsearchId%3A393687321378167317678%2CVSRPtargetId%3A2741740%2CVSRPcmpt%3Aprimary" target="_blank" class="ico-in"><br></a><br/>
		      		<a href="http://pinterest.com/xperious" target="_blank" class="ico-pi"><br></a>
		      		<a href="http://www.flickr.com/photos/xperious/" target="_blank" class="ico-fl"><br></a>
		      		<a href="https://vimeo.com/xperious" target="_blank" class="ico-vi"><br></a>
		      		<a href="#" target="_blank" class="ico-yt"><br></a>
		      	</div>
		      </div>
	    </div>
	  </div>
	</div>

	<div class="section inspired-iceland-section">
		<div class="site-block">
			<h2>Be Inspired by <strong>Iceland</strong></h2>
			<div class="clearfix">
				<div class="lefter">
					<p>Maybe you already know that Iceland isn’t as icy as its name indicates. Or that flights to Iceland are just 3 hours from London or 5 hours from New York. Or that we have a few lively volcanoes and an even livelier capital city. But what else do you know about this unconventional destination for meetings, incentives and events? Why Iceland?</p>
					<p class="tac">
						<a href="#" class="button button-blue">Read more</a>
					</p>
				</div>
				<div class="righter">
					<img src="images/vimeo-holder.jpg" alt=""/>
				</div>
			</div>
		</div>
	</div>

	<div class="section latest-tweet-section">
		<div class="site-block clearfix">
			<h2>Our<br /> latest<br/> <strong>Tweets</strong></h2>
			<div class="detailed-tweet">
				<span class="small">about 5 hours ago</span> There is great angling potencials in lake Myvatn during this summer says the angling guru Sveinn Bjorgvinsson. <a href="#">@angling</a>
			</div>
		</div>
	</div>
	
	<div id="events" class="section events-section">
	 <div class="site-block">
	      <h2 class="title"><span class="small">UPCOMING <br/></span><span class="big">EVENTS</span></h2>
	 </div>
	 <div class="events-slider">
	  <div class="site-block"></div>

	 </div>
	</div>

	<div id="latest-news-section" class="section latest-news-section" >
		<div class="site-block clearfix">
			<h2>Latest <strong>news</strong></h2>
			<div class="clearfix">
				<div class="col">
					<div class="latest-news-item">
						<div class="latest-news-item__date"><span>26</span> SEPT<br/>2013</div>
						<img src="images/blog-item.png" alt=""/>
						<div class="latest-news-item__content">
							<h3><a href="#">Standard blog with an square image</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  <a href="#">[…]</a>
							</p>
							<p class="latest-news-item__author">by: Hilmar Halldorsson</p>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="latest-news-item">
						<div class="latest-news-item__content">
							<div class="latest-news-item__date"><span>26</span> SEPT<br/>2013</div>
							<h3><a href="#">Standard blog with no image</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  <a href="#">[…]</a>
							</p>
							<p class="latest-news-item__author">by: Hilmar Halldorsson</p>
						</div>
					</div>
					<div class="latest-news-item">
						<div class="latest-news-item__date"><span>26</span> SEPT<br/>2013</div>
						<img src="images/blog-video.jpg" alt=""/>
						<div class="latest-news-item__content">
							<h3><a href="#">Here is a title of the blog</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  <a href="#">[…]</a>
							</p>
							<p class="latest-news-item__author">by: Hilmar Halldorsson</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	    <div class="footer-view"></div>
	</div>
    
    <div class="bottom-shadow"><br/></div>
</div>
<div class="bottom-view">
