 <div class="site-bottom-menu" >
 	<span id="js-show-mobile-menu" class="show-mobile-menu"><br/></span>
      <div class="site-block-in" id="js-mobile-menu">
      	<span id="js-close-mobile-menu" class="close-mobile-menu"><br/></span>
		<ul class="menu bottom-menu clearfix">
		  <li><a href="javaScript:void(0);"><span class="big">Discover <%= country.title %></span><span class="small">All you need to know about <%= country.title %></span></a></li>
		  <li><a href="javaScript:void(0);"><span class="big">Attractions</span><span class="small">Interesting places</span></a>
		    <ul class="menu submenu">
		        <% _.each(categories, function(category) { %>
		            <li><a href="/attractions/<%= country.code %>/<%= category.id %>" style="text-transform: capitalize"><%= category.title %></a></li>
		        <% }) %>
		    </ul>
		  </li>
		  <li class="special"><a href="#article" class="slide-down"><span class="green">CLICK</span> OR<br> <span class="green">SCROLL</span><br> <span class="big">DOWN</span></a></li>
		  <li class="tar"><a href="/events"><span class="big">Event calendar</span><span class="small">Interesting events</span></a></li>
		  <li class="tar"><a href="javaScript:void(0);"><span class="big">Currency converter</span><span class="small">Calculate rate of the day</span></a>
		   <form class="convert-form">
		     <div class="form-row">
		       <select style="width: 144px;" class="selectmenu-in-popup">
		         <option>ISK</option>
		         <option>GBP</option>
		       </select>
		       <input type="text" value="1">
		     </div>
		    <div class="form-row">
		        <select style="width: 144px;" class="selectmenu-in-popup">
		           <option>GBP</option>
		           <option>ISK</option>
		         </select>
		         <input type="text" value="223.00">
		       </div>
		     </form>
		   </li>
		</ul>
</div>
</div>